page-areainfo {
  .profile {
    .profil {
      div {
        background: #f5f3f4;
        padding: 14px 0;
        strong {
          padding: 0 10px;
        }
      }
    }
    p {
      margin-bottom: 2px;
      font-weight: 500;
    }
    ion-input {
      border: 1px solid #e8e6e6;
    }
    .info {
      padding: 10px;
      border: 1px solid #e8e6e6;
      margin-top: 10px;
      button {
        margin: 22px 0;
      }
    }
  }
}
