<!--
  Generated template for the AreainfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar> <ion-title></ion-title> </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="profile">
    <div class="profil">
      <div><strong>Area Information</strong></div>
    </div>
    <div class="info">
      <p>Area Name</p>
      <ion-input placeholder=""></ion-input>
      <p>Slot Details</p>
      <ion-input placeholder=""></ion-input>
      <p>Area Color</p>
      <ion-input placeholder=""></ion-input>
      <p>Start Date</p>
      <ion-input placeholder=""></ion-input>
      <p>End Date</p>
      <ion-input placeholder=""></ion-input>
      <p>Cost($ per day)</p>
      <ion-input placeholder=""></ion-input>

      <button ion-button color="usgbtn2" full>Save</button>
    </div>
  </div>
</ion-content>
