<ion-header>
  <ion-navbar>
    <ion-title>{{ pagedata.post_title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="pagedata">
  <!-- <span [innerHTML]="pagedata.post_content | safeHtml"></span> -->
  <div class="holds-the-iframe" id="frame">
    <!-- <iframe
      src="http://localhost:8888/wordpress/wordpress/"
      width="100%"
      height="100%"
    ></iframe> -->
    <iframe
      id="iframeId"
      width="100%"
      height="100%"
      name="iframe1"
      [src]="pagedata.permalink"
    ></iframe>
  </div>
</ion-content>
