page-more {
  .holds-the-iframe {
    background: url(../assets/images/loader.gif) center center no-repeat;
    height: 100%;
    width: 100%;
  }
  #ifres {
  }
  @media only screen and (max-width: 1180px) {
    .mobile_header {
      display: none !important;
    }
  }
  .hide {
    display: none !important;
  }
}
