<!--
  Generated template for the SlotspropertyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar> <ion-title>Slots on Property</ion-title> </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="area">
    <div class="slota">
      <img src="assets/images/resmap.jpg" />

      <ion-row class="slots">
        <ion-col col-3> Slot </ion-col>
        <ion-col> Size(in acres) </ion-col>
        <ion-col></ion-col>
      </ion-row>
      <div>
        <ion-row class="slotss">
          <ion-col col-3> <p>A1-1</p> </ion-col>
          <ion-col> <p>0.03 Acres</p> </ion-col>
          <ion-col>
            <ion-icon name="md-create"></ion-icon>
            <ion-icon name="md-close"></ion-icon>
            <ion-icon name="md-document"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row class="slotss">
          <ion-col col-3> <p>A1-1</p> </ion-col>
          <ion-col> <p>0.03 Acres</p> </ion-col>
          <ion-col>
            <ion-icon name="md-create"></ion-icon>
            <ion-icon name="md-close"></ion-icon>
            <ion-icon name="md-document"></ion-icon>
          </ion-col>
        </ion-row>
      </div>
      <button ion-button full color="usgbtn2">Save & Continue</button>
    </div>
  </div></ion-content
>
