page-slotsproperty {
  .toolbar-background {
    background: color($colors, darkblue);
  }
  .area {
    .slota {
      padding: 5px;
      border: 1px solid #f1efef;
    }
    div {
      button {
        margin: 18px 0;
      }
      .slots {
        padding: 14px 0;
        background: #91b2c3;
        color: #fff;
      }
      div .slotss {
        background: #f6f6f6;
        ion-col {
          ion-icon {
            display: inline-block;
            font-size: 1.2em;
            background: #dad8d8;
            padding: 5px;
          }
          p {
            margin-bottom: 0;
            margin-top: 8px;
          }
        }
      }
    }
  }
}
