<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content class="sky-background">
  <div padding>
    <div class="logo">
      <img class="aligncenter" src="assets/images/logo.png" />
    </div>
    <!-- Testing -->
    <!-- Testing -->
    <div class="loginform">
      <form (ngSubmit)="login()" [formGroup]="configs" novalidate>
        <ion-list>
          <div
            class="error"
            *ngIf="
              configs.get('email').hasError('required') &&
              configs.get('email').touched
            "
          >
            <p>Username Required</p>
          </div>
          <div
            class="error"
            *ngIf="
              configs.get('email').hasError('pattern') &&
              configs.get('email').touched
            "
          >
            <p>Incorrect Email</p>
          </div>
          <div
            class="error"
            *ngIf="
              configs.get('password').hasError('required') &&
              configs.get('password').touched
            "
          >
            <p>Password Required</p>
          </div>
          <ion-item class="inputfield">
            <i item-start> <ion-icon name="mail"></ion-icon> </i>
            <ion-input
              type="text"
              [(ngModel)]="user.email"
              name="email"
              placeholder="Username"
              formControlName="email"
              [class.error1]="
                !configs.controls.email.valid && configs.controls.email.dirty
              "
            ></ion-input>
          </ion-item>

          <ion-item class="inputfield">
            <i item-start> <ion-icon name="lock"></ion-icon> </i>
            <ion-input
              type="password"
              [(ngModel)]="user.password"
              name="password"
              placeholder="Password"
              formControlName="password"
              [class.error1]="
                !configs.controls.password.valid &&
                configs.controls.password.dirty
              "
            ></ion-input>
          </ion-item>
        </ion-list>
        <button
          ion-button
          class="submit-button"
          color="darkora"
          type="submit"
          full
        >
          Sign In
        </button>
      </form>
      <ion-row>
        <ion-col color="darkblue">
          <div class="forgot-password" text-left no-margin>
            <ion-checkbox
              [(ngModel)]="rememberme"
              [checked]="rememberme"
            ></ion-checkbox>
            Remember
          </div>
        </ion-col>
        <ion-col>
          <div
            class="forgot-password"
            margin-top
            margin-bottom
            (click)="goto('ForgetpasswordPage')"
          >
            Forgot Your Password?
          </div>
        </ion-col>
      </ion-row>
      <div class="newmember"><span>New Member</span></div>
      <button
        ion-button
        full
        type="button"
        class="buttonblock createaccount"
        (click)="goto('SignupPage')"
      >
        Create Account
      </button>
      <button
        ion-button
        full
        type="button"
        class="buttonblock landaccount"
        (click)="goto('SignuplandownerPage')"
      >
        Create Land Owner Account
      </button>
      <p class="agree">
        By Signing in you are agreeing to our terms listed in the
        <em (click)="gotoinfo('legal')">legal information section</em> and
        <em (click)="gotoinfo('policy')">privacy notice.</em>
      </p>
    </div>
  </div>
  <bottombar></bottombar>
</ion-content>
