<!--
  Generated template for the PropertiesmapfilterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <div class="seasonlease">
    <ul>
      <li><span class="round_circle blue"></span> Day leases</li>
      <li><span class="round_circle green"></span> Season leases</li>
      <li><span class="round_circle red"></span> Unavailable</li>
    </ul>
  </div>
  <div class="leaseresult">
    <strong>Lease Type (51 results)</strong>
    <div class="switchslot">
      <ion-item class="switchs">
        <ion-label
          ><div class="round_circle blue"></div>
          Day Leases (1 person per slot)</ion-label
        >
        <ion-toggle [(ngModel)]="blue" checked="true"></ion-toggle>
      </ion-item>
    </div>
    <div class="switchslot">
      <ion-item class="switchs">
        <ion-label>
          <div class="round_circle green"></div>
          Day Leases (multi-person)</ion-label
        >
        <ion-toggle [(ngModel)]="green" checked="true"></ion-toggle>
      </ion-item>
    </div>
    <div class="switchslot">
      <ion-item class="switchs">
        <ion-label>
          <div class="round_circle red"></div>
          Unavailable</ion-label
        >
        <ion-toggle [(ngModel)]="red" checked="true"></ion-toggle>
      </ion-item>
    </div>
    <div class="success" (click)="goto()">
      <button type="button" class="done">Done</button>
    </div>
  </div>
</ion-content>
