page-ordersuccess {
  .success {
    margin: 0 auto;
    display: block;
    width: 30%;
    margin-top: 70px;
  }
  p {
    font-size: 1.8rem !important;
    font-weight: 500 !important;
    color: #424242 !important;
  }
  ion-item {
    padding-left: 0px !important;
  }
}
