<!--
  Generated template for the OrdersuccessPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>
  <img src="assets/images/success.gif" class="success" />
  <h3 color="usgbtn2">Order received</h3>
  <h5>Thank you. your order has been received.</h5>

  <ion-item>
    <ion-title>ORDER NUMBER:</ion-title>
    <p>{{ order_detail.order_data.order_number }}</p>
  </ion-item>
  <ion-item>
    <ion-title>DATE:</ion-title>
    <p>{{ order_detail.order_data.created_at }}</p>
  </ion-item>
  <ion-item>
    <ion-title>Total:</ion-title>
    <p>${{ order_detail.order_data.total }}</p>
  </ion-item>
  <ion-item>
    <ion-title>PAYMENT METHOD:</ion-title>
    <p>PayPal</p>
  </ion-item>
  <button
    margin
    style="width: -webkit-fill-available;"
    ion-button
    full
    color="darkora"
    round
    (click)="gotohome('PropertieslistviewPage')"
  >
    Continue Shopping
  </button>
  <br /><br />
  <h5 color="usgbtn2">Order Detail</h5>
  <ion-item>
    <ion-title>Product:</ion-title>
    <ng-container *ngFor="let orders of order_detail.order_data.line_items">
      <ion-row>
        <ion-col>
          <p>{{ orders.name }}</p></ion-col
        >
        <ion-col
          ><p>${{ orders.total }}</p></ion-col
        >
      </ion-row>
    </ng-container>
  </ion-item>
  <ion-item>
    <ion-title>Subtotal:</ion-title>
    <p>${{ order_detail.order_data.subtotal }}</p>
  </ion-item>
  <ion-item>
    <ion-title>Shipping:</ion-title>
    <p>${{ order_detail.order_data.total_shipping }}</p>
  </ion-item>
  <ion-item>
    <ng-container *ngFor="let fees of order_detail.order_data.fee_lines">
      <ion-title>{{ fees.title }}:</ion-title>
      <p>${{ fees.total }}</p>
    </ng-container>
  </ion-item>
  <ion-item>
    <ion-title>PAYMENT METHOD:</ion-title>
    <p>PayPal</p>
  </ion-item>
  <ion-item>
    <ion-title>Total:</ion-title>
    <p>${{ order_detail.order_data.total }}</p>
  </ion-item>
</ion-content>
