<!--
  Generated template for the ChangepasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar> <ion-title>Change Password</ion-title> </ion-navbar>
</ion-header>

<ion-content>
  <form [formGroup]="myForm" (ngSubmit)="checkform()">
    <div class="changepassword postlists crntlction" margin-top>
      <p no-margin>
        <span>*</span>After you change the password you will have to login again
      </p>
    </div>
    <div margin-top>
      <div class="postlists">
        <!-- <div class="error"><p>Password is Incorrect</p></div> -->
        <ion-list>
          <div
            class="error"
            *ngIf="
              myForm.get('old_password').hasError('required') &&
              myForm.get('old_password').touched
            "
          >
            <p>Old Password Required</p>
          </div>

          <div
            class="error"
            *ngIf="
              myForm.get('new_password').hasError('required') &&
              myForm.get('new_password').touched
            "
          >
            <p>New Password Required</p>
          </div>

          <div
            class="error"
            *ngIf="
              myForm.get('confirm_password').hasError('required') &&
              myForm.get('confirm_password').touched
            "
          >
            <p>Confirm Password Required</p>
          </div>
          <ion-item>
            <ion-label floating>Old Password*</ion-label>
            <ion-input
              type="password"
              formControlName="old_password"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>New Password*</ion-label>
            <ion-input
              type="password"
              formControlName="new_password"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Confirm Password*</ion-label>
            <ion-input
              type="password"
              formControlName="confirm_password"
            ></ion-input>
          </ion-item>
        </ion-list>
      </div>
    </div>

    <button ion-button color="darkblue" margin-top full round class="submitcon">
      Reset Password
    </button>
  </form>
</ion-content>
