page-gallery {
  .gallery {
    ion-row {
      ion-col {
        padding: 8px;
        img {
          width: 100%;
          object-fit: cover;
          height: 150px;
        }
        .video {
          width: 100%;
        }
      }
    }
  }

  .backbtn {
    margin: 0;
    padding: 0 6px;
    text-align: left;
    text-align: start;
    font-size: 2.4rem;
    font-weight: normal;
  }
}
