<!--
  Generated template for the GalleryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons start left>
      <button ion-button show (click)="goback()">
        <ion-icon class="backbtn" name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Media Gallery</ion-title>

    <ion-buttons end class="properties">
      <button ion-button (click)="goto('FeatureimagePage', media)">
        <ion-icon name="ios-image"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="gallery">
    <ion-row>
      <ion-col col-6 float-left *ngFor="let medias of media; let i = index">
        <img
          [src]="medias.image_url"
          (click)="goto('FeatureimagePage', media, i)"
        />
      </ion-col>

      <ion-col col-6 float-left *ngIf="video && video.embed_video_id">
        <iframe
          *ngIf="video.embed_video_type === 'youtube'"
          class="video"
          [src]="video.embed_video_id"
          frameborder="0"
          allowfullscreen
        ></iframe>
        <iframe
          class="video"
          *ngIf="video.embed_video_type === 'vimeo'"
          [src]="video.embed_video_id"
          frameborder="0"
          allowfullscreen="allowfullscreen"
        ></iframe>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
