<!--
  Generated template for the ManagewalletPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar> <ion-title>Manage Wallet</ion-title> </ion-navbar>
</ion-header>

<ion-content>
  <div class="postlists">
    <ion-row>
      <ion-col>
        <div class="crdd bck1">
          <h6>Available:</h6>
          <p *ngIf="data && data[1]">
            <span [innerHTML]="data[0].currency_symble"></span
            >{{ data[1].available_credit }}
          </p>
        </div>
      </ion-col>
      <ion-col>
        <div class="crdd bck2">
          <h6>Usage:</h6>
          <p *ngIf="data && data[2]">
            <span [innerHTML]="data[0].currency_symble"></span
            >{{ data[2].usage }}
          </p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button full color="darkblue" round>
          Send Wallet To Paypal
        </button>
      </ion-col>
    </ion-row>
  </div>
  <ng-container *ngIf="data && data[3] && data[3].all_wallet_data">
    <div class="postlists" *ngFor="let wallet of data[3].all_wallet_data">
      <div class="patrtn bl">
        <img class="wall" src="assets/images/my-wallet.png" /> Wallet Details
      </div>
      <div class="patrtn">
        <ion-row>
          <ion-col>Slot Name:</ion-col>
          <ion-col class="dtl">{{ wallet.slotname }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Date of Slot:</ion-col>
          <ion-col class="dtl">{{ wallet.date_of_slot }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Name of property:</ion-col>
          <ion-col class="dtl">{{ wallet.propery_name }}</ion-col>
        </ion-row>
      </div>
      <div class="patrtn">
        <ion-row>
          <ion-col>Credit:</ion-col>
          <ion-col class="dtl"
            ><span [innerHTML]="data[0].currency_symble"></span
            >{{ wallet.credit }}</ion-col
          >
        </ion-row>
        <ion-row>
          <ion-col>Order ID:</ion-col>
          <ion-col class="dtl">{{ wallet.order_id }}</ion-col>
        </ion-row>
      </div>
    </div>
  </ng-container>
  <!--
    <div class="managewallet">
      <div>
        <ion-row>
          <ion-col>
            <button ion-button color="usgbtn2">Available: $0.00</button>
          </ion-col>
          <ion-col>
            <button ion-button color="usgbtn">Usage: $0.00</button>
          </ion-col>
        </ion-row>

        <div class="wallet">
          <p class="wall">Slot Name</p>
          <div><p>Test</p></div>
        </div>

        <div class="wallet">
          <p class="wall">Slot Area</p>
          <div><p>California</p></div>
        </div>

        <div class="wallet">
          <p class="wall">Name of Property</p>
          <div><p>California Property</p></div>
        </div>

        <div class="wallet">
          <p class="wall">Credit</p>
          <div><p>50</p></div>
        </div>

        <div class="wallet">
          <p class="wall">Order Id</p>
          <div><p>1</p></div>
        </div>
      </div>
    </div>
  -->
</ion-content>
