<!--
  Generated template for the ReservationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>All users details for land owner</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!--
    <div class="managewallet">
      <div>
        <div><strong></strong></div>
      </div>
    </div>
  -->

  <ion-searchbar
    [(ngModel)]="myInput"
    [showCancelButton]="shouldShowCancel"
    (ionCancel)="onCancel($event)"
  >
  </ion-searchbar>
  <ng-container *ngIf="myproperyusers && !myproperyusers.length">
    <p text-center>No Property</p>
  </ng-container>
  <ng-container *ngIf="myproperyusers && myproperyusers.length">
    <ion-grid>
      <ion-row>
        <ion-col
          col-12
          col-xl-2
          col-lg-3
          col-md-4
          *ngFor="let myproperyuser of myproperyusers"
        >
          <ion-card>
            <ion-card-content class="reeserve">
              <div class="reservation">
                <strong>{{ myproperyuser.author }}</strong>
              </div>
              <ion-row>
                <ion-col>Username:</ion-col>
                <ion-col class="dtl">{{
                  myproperyuser.author_nicename
                }}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col>Email:</ion-col>
                <ion-col class="dtl">{{ myproperyuser.author }}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col>Phone:</ion-col>
                <ion-col class="dtl">{{ myproperyuser.author_phone }}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col>User Registered:</ion-col>
                <ion-col class="dtl">{{
                  myproperyuser.author_registered_date
                }}</ion-col>
              </ion-row>
            </ion-card-content>
            <button
              ion-button
              round
              color="darkblue"
              float-right
              (click)="goto(myproperyuser)"
            >
              Activity
            </button>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>
</ion-content>
