page-mypropertyowner {
  ion-content {
    background-color: #f9fafe !important;
  }
  ion-searchbar {
    width: -webkit-fill-available;
    margin: 10px 0px 0px 0px;
  }
  .dtl {
    color: color($colors, fauji);
  }
  .searchgroup {
    padding-top: 16px;
    ion-row {
      ion-col {
        ion-item {
          .item-inner {
            padding-right: 0 !important;
            ion-input {
              .text-input {
                margin: 13px 2px;
                width: calc(100% - 4px - 2px);
              }
            }
          }
        }
      }
    }
  }
  .item-inner {
    border-bottom: none !important;
  }
  .col {
    padding: 0;
  }
  .res {
    width: 100%;
    padding: 0px 0 20px 0;
  }
  ion-item {
    background-color: #f5f3f4 !important;
  }

  .reservation {
    font-family: opensans-bold;
    font-size: 17px;
  }
  .managewallet {
    border: 1px solid #eeeeee;
    div {
      div {
        background: #f5f3f4;
        padding: 8px 0;
        strong {
          padding: 0 10px;
        }
      }
    }
  }
  .reeserve {
    padding: 5px;
    button {
      border-right-width: 1px !important;
      border-left-width: 1px !important;
    }
    ion-row {
      border-bottom: 1px solid #e1e1e1;
      padding: 8px 0 2px 0px;
    }
  }
  .wallet {
    background: none;
    div {
      p {
        background: #f5f3f4;
        padding: 13px 8px;
        margin: 0px;
      }
    }
    .wall {
      padding: 10px 0;
      font-weight: bold;
      margin: 10px 0 0 0;
    }
  }
}
