page-entercodeverifyemail {
  .midcontent {
    margin: 0 0 100px;
    padding: 0 15px;
  }
  .headpinnumber {
    text-align: center;
    h1 {
      color: color($colors, darkerblue);
      font-family: "OpenSans-Bold";
      font-size: 34px;
      line-height: 42px;
      margin: 0;
    }
    p {
      color: color($colors, darkerblue);
      font-size: 19px;
      line-height: 28px;
      margin: 50px 0;
      font-size: 19px;
      em {
        color: color($colors, darkora);
        font-size: 19px;
        font-style: normal;
      }
    }
  }
  .inputpin {
    margin: 0 0 40px;
    input {
      background: #91b2c3 none repeat scroll 0 0;
      border: medium none;
      border-radius: 3px;
      color: #fff;
      height: 65px;
      text-align: center;
      margin: 0 5px;
      width: 65px;
    }
  }
  button.buttonblock {
    background: #8dc641 none repeat scroll 0 0;
    border-radius: 3px;
    border: none;
    color: color($colors, light);
    display: block;
    font-size: 20px;
    padding: 20px 0;
    cursor: pointer;
    width: 100%;
    font-family: "OpenSans";
  }
  .trouble {
    margin: 100px 0 50px;
    strong {
      color: color($colors, darkblue);
      font-family: opensans-bold;
      font-size: 26px;
    }
    ul {
      list-style: disc;
      padding: 10px 15px;
      margin: 0;
      li {
        margin: 10px 0;
        a {
          color: #001d34;
          text-decoration: none;
          font-size: 16px;
        }
      }
    }
  }
}
