<!--
  Generated template for the PropertiesmapviewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <div class="postlist" (click)="goto('PropertiesdetailPage')">
    <img src="assets/images/postlist.jpg" />
    <ion-row>
      <ion-col col-9>
        <strong>Hog Hunting in Fannin County TX from Outlaw Outfitters</strong>
      </ion-col>
      <ion-col> <span class="amt">$250</span> </ion-col>
    </ion-row>
  </div>
</ion-content>
