page-propertiesmapview {
  .seasonlease {
    background: #232323 none repeat scroll 0 0;
    padding: 10px 2px;
    text-align: center;
    ul {
      display: flex;
      -webkit-display: flex;
      justify-content: space-between;
      padding-left: 0;
      li {
        color: #fff;
        list-style: none;
        .round_circle {
          border: 1px solid #000;
          border-radius: 50%;
          display: inline-block;
          height: 10px;
          width: 10px;
          vertical-align: middle;
          margin: 0 5px;
        }
        .blue {
          background: #00aeef none repeat scroll 0 0;
        }
        .green {
          background: #27ef00 none repeat scroll 0 0;
        }
        .red {
          background: #ff0000 none repeat scroll 0 0;
        }
      }
    }
  }

  .mapview {
    position: relative;
    img {
      width: 100%;
    }
    .geolocation {
      background-color: transparent;
      background-image: url(../assets/images/geolocation.png);
      border: medium none;
      bottom: 20px;
      display: inline-block;
      height: 100px;
      position: absolute;
      right: 0;
      width: 100px;
      cursor: pointer;
    }
  }
  .postlist {
    border-bottom: none;
  }
}
