<ion-header>
  <ion-navbar>
    <!-- <ion-buttons left>
      <button navPop ion-button icon-only>
        <ion-icon color="light" name="arrow-back"></ion-icon>
      </button>
    </ion-buttons> -->
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <agm-map
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="options.zoom"
    [mapTypeId]="'hybrid'"
    (mapReady)="changeTilt($event)"
    (touchstart)="touchstart($event)"
  >
    <agm-rectangle
      *ngIf="arrayslotdata.property_details.prop_area_shape_type == 'rectangle'"
      [north]="
        auth.slotnorth(arrayslotdata.property_details.prop_area_shape_cords)
      "
      [east]="
        auth.sloteast(arrayslotdata.property_details.prop_area_shape_cords)
      "
      [south]="
        auth.slotsouth(arrayslotdata.property_details.prop_area_shape_cords)
      "
      [west]="
        auth.slotwest(arrayslotdata.property_details.prop_area_shape_cords)
      "
      [fillOpacity]="0"
      [strokeOpacity]="1"
      [strokeColor]="slotarea.slot_color"
      [strokePosition]="options.strokePos"
      [strokeWeight]="options.strokeWeight"
    >
    </agm-rectangle>
    <agm-polygon
      *ngIf="arrayslotdata.property_details.prop_area_shape_type == 'polygon'"
      [paths]="arrayslotdata.property_details.prop_area_shape_cord"
      [fillOpacity]="0"
      [strokeColor]="slotarea.slot_color"
      [strokeOpacity]="1"
      [strokeWeight]="3"
    >
    </agm-polygon>
    <agm-rectangle
      *ngIf="slotarea.shape_type == 'rectangle'"
      [north]="auth.slotnorth(slotarea.slot_coordinates)"
      [east]="auth.sloteast(slotarea.slot_coordinates)"
      [south]="auth.slotsouth(slotarea.slot_coordinates)"
      [west]="auth.slotwest(slotarea.slot_coordinates)"
      [fillColor]="slotarea.slot_color"
      [fillOpacity]="0.3"
      [strokeOpacity]="1"
      [strokeColor]="slotarea.slot_color"
      [strokePosition]="options.strokePos"
      [strokeWeight]="options.strokeWeight"
    >
    </agm-rectangle>
    <agm-polygon
      *ngIf="slotarea.shape_type == 'polygon'"
      [paths]="slotarea.slot_coordinate"
      [fillColor]="slotarea.slot_color"
      [fillOpacity]="0.5"
      [strokeColor]="slotarea.slot_color"
      [strokeOpacity]="1"
      [strokeWeight]="3"
    >
    </agm-polygon>
    <agm-circle
      *ngIf="slotarea.shape_type == 'circle'"
      [latitude]="auth.convertToint(slotarea.slot_circle_lat)"
      [longitude]="auth.convertToint(slotarea.slot_circle_lng)"
      [radius]="auth.convertToint(slotarea.slot_circle_radious)"
      [fillOpacity]="0.3"
      [strokeOpacity]="1"
      [fillColor]="slotarea.slot_color"
      [strokeColor]="slotarea.slot_color"
      [strokePosition]="options.strokePos"
      [strokeWeight]="options.strokeWeight"
    >
    </agm-circle>
    <agm-marker
      [latitude]="track.getlat()"
      [longitude]="track.getlng()"
      [iconUrl]="auth.locationiconUrl()"
    >
    </agm-marker>
  </agm-map>
  <ion-fab left bottom>
    <button ion-fab color="darkblue" (click)="navme()">
      <ion-icon name="locate"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
