<ion-header>
  <ion-navbar hideBackButton="true">
    <button ion-button menuToggle no-margin class="menui">
      <ion-icon no-padding name="md-menu" class="menuicon"></ion-icon>
    </button>
    <ion-title>
      <div class="searchgroup">
        <input
          type="text"
          class="searchinputfield"
          [(ngModel)]="searchinput"
          (input)="searchdata($event)"
          placeholder="Location Search"
        />
        <button type="button" (click)="mapV()" class="loactionfinder"></button>
      </div>
    </ion-title>

    <ion-buttons end>
      <button ion-button class="filter" (click)="presentSearchModal()">
        <ion-icon name="ios-funnel"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<div
  class="autocompletelist"
  *ngIf="autocompleteItems && autocompleteItems.length"
>
  <ion-item
    *ngFor="let item of autocompleteItems"
    tappable
    (click)="chooseItem(item, this)"
  >
    <ion-icon name="search"></ion-icon>
    {{ item.description }}
  </ion-item>
</div>
<ion-content #content [ngClass]="{ active: backactive }">
  <div
    #map_canvas
    id="map_canvas"
    style="height:-webkit-fill-available; display: none"
  ></div>
  <div class="buttonmenu">
    <div class="dropdown">
      <button (click)="propertiesmapfilter()" class="dropbtn">
        <span class="round_circle blue"></span
        ><span class="round_circle green"></span
        ><span class="round_circle red"></span
        ><ng-container
          *ngIf="lease && action_values && lease.length == action_values.length"
          >All Selected</ng-container
        ><ng-container
          *ngIf="lease && action_values && lease.length != action_values.length"
          >{{ action_values[0] }}</ng-container
        >
      </button>
    </div>
    <div class="dropdown listview">
      <button (click)="mapV()" *ngIf="listView && !mapView" class="dropbtn">
        Map View
      </button>
      <button
        (click)="listV()"
        *ngIf="(!listView && mapView) || dateView"
        class="dropbtn"
      >
        List View
      </button>
    </div>
    <div class="dropdown datecal">
      <button (click)="dateV()" class="dropbtn">date</button>
    </div>
  </div>

  <!-- Selection Starts -->
  <ng-container *ngIf="selectionshow" [@slideInOut]>
    <div class="seasonlease">
      <ul>
        <li><span class="round_circle blue"></span> Day leases</li>
        <li><span class="round_circle green"></span> Season leases</li>
        <li><span class="round_circle red"></span> Unavailable</li>
      </ul>
    </div>
    <div class="leaseresult">
      <ng-container *ngIf="lease && lease.length">
        <div class="switchslot" *ngFor="let leas of lease">
          <ion-item class="switchs">
            <ion-label
              ><div class="round_circle blue"></div>
              {{ leas.name }}</ion-label
            >
            <ion-toggle
              [(ngModel)]="leas.search"
              (ionChange)="changelease1()"
            ></ion-toggle>
          </ion-item>
        </div>
      </ng-container>
      <div class="success">
        <ion-row
          ><ion-col
            ><button
              type="button"
              class="done"
              color="danger"
              (click)="selectionshow = !selectionshow"
            >
              Cancel
            </button></ion-col
          ><ion-col
            ><button type="button" class="done" (click)="propertiesmapfilter()">
              Done
            </button></ion-col
          ></ion-row
        >
      </div>
    </div>
  </ng-container>
  <!-- Selection Ends -->
  <div>
    <div *ngIf="listView || (!mapView && !dateView)">
      <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <div class="filterpost">
        <ion-item
          ><ion-label>Sort</ion-label
          ><ion-select [(ngModel)]="ordr" (ionChange)="setOrder(ordr)">
            <ion-option value="htol">Price High to Low</ion-option>
            <ion-option value="ltoh">Price Low to High</ion-option>
            <ion-option value="">Default</ion-option>
          </ion-select></ion-item
        >
      </div>
      <div
        text-right
        *ngIf="
          category_values ||
          (all_checkers && all_checkers.length) ||
          searchinput ||
          property_admin_area ||
          country ||
          (price_low && price_low != 1) ||
          (price_max && price_max != 5000)
        "
      >
        <button
          ion-button
          outline
          (click)="clearsearch()"
          color="danger"
          margin-right
        >
          Clear Search
        </button>
      </div>
      <!-- <div *ngIf="properties && properties.length == 0">
        <div class="outer">
          <div class="middle">
            <div class="inner">
              <h5 text-center no-margin>No properties to show</h5>
            </div>
          </div>
        </div>
      </div> -->
      <div *ngIf="!properties && !properties.length">
        <div class="outer">
          <div class="middle">
            <div class="inner">
              <h5 text-center no-margin>Fetching Properties...</h5>
              <br />
              <img src="assets/images/loader.gif" />
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="properties && properties.length">
        <ion-grid>
          <ion-row>
            <ion-col
              col-12
              col-xl-2
              col-lg-3
              col-md-4
              *ngFor="
                let propertie of properties
                  | orderBy: order:reverse:'case-insensitive'
              "
            >
              <ng-container>
                <ion-card (click)="goto('PropertiesdetailPage', propertie)">
                  <ion-card-header>
                    <span [innerHTML]="propertie.post_title"></span>
                  </ion-card-header>
                  <div class="parti">
                    <img
                      *ngIf="
                        propertie.linked_images &&
                        propertie.linked_images &&
                        propertie.linked_images[0]
                      "
                      [src]="propertie.linked_images[0].image_url"
                    />
                    <img
                      *ngIf="propertie.linked_images == undefined"
                      src="https://beta.doveblasters.com/wp-content/themes/wprentals-child/img/defaultimage_prop.jpg"
                    />

                    <ion-row class="price" align-items-end>
                      <ion-col no-padding>
                        <button ion-button icon-start clear small color="dark">
                          <div class="daylease">
                            <span class="round_circle green"></span>Day lease
                          </div>
                        </button>
                      </ion-col>
                      <ion-col no-padding col-5 class="oraback">
                        <button ion-button icon-start clear small color="dark">
                          <div color="dark" class="daylease">
                            <ng-container
                              *ngIf="
                                propertie.property_min_price ==
                                propertie.property_max_price
                              "
                            >
                              <span
                                [innerHTML]="propertie.curency_symbol"
                              ></span
                              >{{ propertie.property_max_price }}/day
                            </ng-container>
                            <ng-container
                              *ngIf="
                                propertie.property_min_price !=
                                propertie.property_max_price
                              "
                            >
                              <span
                                [innerHTML]="propertie.curency_symbol"
                              ></span
                              >{{ propertie.property_min_price }}-{{
                                propertie.property_max_price
                              }}/day
                            </ng-container>
                          </div>
                        </button>
                      </ion-col>
                    </ion-row>
                  </div>
                  <ion-list>
                    <button ion-item detail-none class="labeltxt">
                      <ion-row>
                        <ion-col col-1 no-padding>
                          <ion-icon
                            name="ios-pin"
                            color="darkblue"
                            item-start
                            class="icons"
                          ></ion-icon>
                        </ion-col>
                        <ion-col no-padding class="labelctxt">
                          <ng-container *ngIf="propertie.property_address">
                            {{ propertie.property_address | titlecase }}
                          </ng-container>
                          <ng-container *ngIf="!propertie.property_address">
                            <ng-container *ngIf="propertie.property_county">
                              {{ propertie.property_county }}
                            </ng-container>
                            <ng-container *ngIf="propertie.property_state">
                              , {{ propertie.property_state }}
                            </ng-container>
                            <ng-container *ngIf="propertie.property_country">
                              in
                              {{ propertie.property_country }}
                            </ng-container>
                          </ng-container>
                          <!-- <ng-container *ngIf="propertie.property_county">
                            {{ propertie.property_county | titlecase }}
                          </ng-container>
                          <ng-container *ngIf="propertie.property_state">
                            {{ propertie.property_state | titlecase }}
                          </ng-container>
                          <ng-container *ngIf="propertie.property_admin_area">
                            {{ propertie.property_admin_area | titlecase }}
                          </ng-container> -->
                        </ion-col>
                      </ion-row>
                    </button>

                    <button ion-item detail-none class="labeltxt">
                      <ion-row>
                        <ion-col col-1 no-padding>
                          <ion-icon
                            name="ios-folder-open"
                            color="darkblue"
                            item-start
                            class="icons"
                          ></ion-icon>
                        </ion-col>
                        <ion-col no-padding class="labelctxt">
                          <ng-container *ngIf="propertie.property_category">
                            <span
                              [innerHtml]="propertie.property_category"
                            ></span
                            >/
                          </ng-container>
                          <span [innerHtml]="propertie.property_action"></span>
                        </ion-col>
                      </ion-row>
                    </button>
                  </ion-list>
                </ion-card>
              </ng-container>
            </ion-col> </ion-row
        ></ion-grid>
      </div>

      <!-- <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll> -->
    </div>
    <div [hidden]="!mapView" class="map">
      <div class="mapview" [ngClass]="status ? 'success' : 'danger'">
        <div
          #map_canvas
          id="map_canvas"
          style="height:-webkit-fill-available; display: none;"
        ></div>
        <agm-map
          [latitude]="options.lat"
          [longitude]="options.lng"
          [zoom]="options.zoom"
          [mapTypeId]="'hybrid'"
          (mapReady)="changeTilt($event)"
          #agmMap
          (touchstart)="touchstart($event)"
          [mapTypeControl]="true"
          [disableDefaultUI]="false"
        >
          <agm-marker
            *ngFor="let mapro of propertiesmap"
            [latitude]="auth.convertToint(mapro.newdata[0].meta_value)"
            [longitude]="auth.convertToint(mapro.newdata[1].meta_value)"
            (markerClick)="call(mapro.newdata[0].post_id)"
            [iconUrl]="mapro.pin_url"
          >
          </agm-marker>
          <agm-marker
            [latitude]="options.lat"
            [longitude]="options.lng"
            [iconUrl]="'assets/images/maplocation.png'"
          >
          </agm-marker>
        </agm-map>
      </div>
      <div class="postlist" *ngIf="show" [@slideInOut]>
        <div (click)="clickEvent()">
          <ion-icon name="md-close" text-right></ion-icon>
        </div>
        <ion-row *ngIf="productdetail">
          <ion-col>
            <img
              *ngIf="
                productdetail.linked_images &&
                productdetail.linked_images[0] &&
                productdetail.linked_images[0]
              "
              src="{{ productdetail.linked_images[0].image_url }}"
              (click)="mapdetail(productdetail)"
            />
          </ion-col>
          <ion-col text-right>
            <strong>{{ productdetail.property_name }}</strong>
            <ion-row padding-top>
              <ion-col col-1 class="labelctxt" text-left no-padding>
                <ion-icon
                  name="ios-pin"
                  color="darkblue"
                  item-start
                  class="icons"
                ></ion-icon>
              </ion-col>
              <ion-col no-padding class="labelctxt" text-left>
                <ng-container *ngIf="productdetail.property_address">{{
                  productdetail.property_address
                }}</ng-container>
                <ng-container *ngIf="!productdetail.property_address">{{
                  productdetail.property_admin_area
                }}</ng-container>
              </ion-col>
            </ion-row>
            <p text-left class="detail" (click)="mapdetail(productdetail)">
              View Details >
            </p>
          </ion-col>
        </ion-row>
      </div>
    </div>

    <div *ngIf="dateView || (!listView && !mapView)">
      <ion-row>
        <ion-col>
          <div class="checklist">
            <h3 text-center>Hunt Start</h3>
            <div class="day">
              <!-- <ion-datetime
                displayFormat="DD/MM/YYYY"
                pickerFormat="DD MMMM YYYY"
                [(ngModel)]="startdate"
                [max]="enddate"
              ></ion-datetime> -->

              <my-date-picker
                name="mydate"
                [options]="myDatePickerOptions"
                [(ngModel)]="startdate"
                (dateChanged)="datechange(startdate)"
                required
              ></my-date-picker>
            </div>
          </div>
          <div class="checklist">
            <h3 text-center>Hunt End</h3>
            <div class="day" *ngIf="startdate">
              <!-- <ion-datetime
                displayFormat="DD/MM/YYYY"
                pickerFormat="DD MMMM YYYY"
                [(ngModel)]="enddate"
                [max]="maxDate"
                [min]="startdate"
              ></ion-datetime> -->

              <my-date-picker
                name="mydate"
                [options]="myDatePickerOptions"
                [(ngModel)]="enddate"
                (dateChanged)="datechange(enddate)"
                required
              ></my-date-picker>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <button
        ion-button
        class="srchbttn"
        color="darkora"
        (click)="setdatesrch()"
      >
        Search
      </button>
    </div>
  </div>
  <ion-fab right bottom *ngIf="taketotop">
    <button ion-fab color="darkblue" (click)="pageScroller()">
      <ion-icon name="ios-arrow-up-outline"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col no-padding>
      <ion-slides
        *ngIf="advertisement && advertisement.length"
        class="adverbanner"
        pager
        autoplay="2000"
        loop="true"
        speed="500"
        effect="fade"
        (ionSlideDidChange)="slideChanged()"
        #Slides
      >
        <ion-slide *ngFor="let medias of advertisement; let i = index">
          <div [innerHTML]="medias.ad_bannercode"></div>
        </ion-slide>
      </ion-slides>
    </ion-col>
  </ion-row>
</ion-footer>
