<!--
  Generated template for the DateviewpopPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <ion-list>
    <ion-item> All Selected </ion-item>
    <ion-item> About </ion-item>
    <ion-item> Contact </ion-item>
  </ion-list>
</ion-content>
