page-keywordsrch {
  .subcontent {
    display: block;
    display: -webkit-box;
    height: 45px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  span img {
    display: none;
  }
}
