page-hunteronproperty {
  #map {
    height: 300px;
    width: 100%;
  }
  agm-map {
    height: 100%;
    touch-action: none;
    .agm-map-container-inner {
      overflow: unset !important;
      height: 100%;
    }
  }
  .sendtokenmap {
    border-bottom: none;
    position: sticky;
    bottom: 0;
    background: #fff;
    height: fit-content;
    width: 100%;
  }
}
