<!--
  Generated template for the FavouritesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar> <ion-title>Favourite Listing</ion-title> </ion-navbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="favourites && favourites.length">
    <div
      class="profile"
      margin-top
      *ngFor="let favourite of favourites; let i = index"
    >
      <div class="crt" padding-bottom>
        <ion-row>
          <ion-col col-5
            ><img src="{{ favourite.thumb_prop_default }}"
          /></ion-col>
          <ion-col>
            <ion-row>
              <ion-col style="padding: 0 5px 5px 5px;"
                ><h6 no-margin color="dark">{{ favourite.property_title }}</h6>
                <p no-padding>
                  Available number of slot`s {{ favourite.number_of_slots }}
                </p>
                <p no-padding>
                  Listed in
                  <span [innerHTML]="favourite.property_category"></span>
                </p>
                <p no-padding>
                  <b
                    >Expires on
                    {{ favourite.biggest_expirydate_of_property }}</b
                  >
                </p>
              </ion-col>
              <ion-col text-right col-1 no-padding>
                <button
                  ion-button
                  icon-only
                  clear
                  class="remove"
                  (click)="favorite(favourite.post_id, auth.getuserId(), i)"
                >
                  <ion-icon name="ios-remove-circle-outline" color="darkgry">
                  </ion-icon>
                </button>
              </ion-col>
            </ion-row>
            <div class="slot">
              <ion-row>
                <ion-col no-padding><p>Price:</p></ion-col>
                <ion-col no-padding
                  ><p text-right>
                    <span text-right>{{ favourite.price_range }}</span>
                  </p></ion-col
                >
              </ion-row>
              <ion-row>
                <ion-col no-padding><p>City:</p></ion-col>
                <ion-col no-padding
                  ><p text-right>
                    <span
                      text-right
                      [innerHTML]="favourite.property_city"
                    ></span></p
                ></ion-col>
              </ion-row>
              <ion-row>
                <ion-col no-padding><p>Area:</p></ion-col>
                <ion-col no-padding
                  ><p text-right>
                    <span text-right
                      >{{
                        favourite.get_post_meta_prop_total_area
                          | number: "1.2-2"
                      }}
                      Acres</span
                    >
                  </p></ion-col
                >
              </ion-row>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!favourites || !favourites.length">
    <div text-center><p>No Favourite Property</p></div>
  </ng-container>
</ion-content>
