<!--
  Generated template for the PasswordassistancePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content class="sky-background">
  <div>
    <div class="logo">
      <img class="aligncenter" src="assets/images/logo.png" />
      <div class="midcontent">
        <div class="heading">Password Assistance</div>
        <div *ngIf="!reset">
          <div class="error checkmail success">
            <strong padding-left>Check Your Email</strong>
            <p padding-left>
              We sent an email to your inbox. Please enter the code below to
              create a new password.
            </p>
          </div>
          <div class="colgroup">
            <div class="formgroup">
              <input
                [(ngModel)]="otp"
                type="text"
                placeholder="Enter pin number here"
                class="code_recieved"
              />
            </div>
            <a class="password">Resend Email</a>
          </div>
          <button
            ion-button
            full
            type="button"
            color="darkora"
            (click)="submitreset()"
          >
            Continue
          </button>
          <div class="emailaddress">
            <strong>Has your email address changed?</strong>
            <p>
              if you no longer use the email address associated with
              your(Company Name) account, you can restore access to your account
              by contacting <em>Customer service.</em>
            </p>
          </div>
        </div>

        <div *ngIf="reset">
          <div class="error error1 checkmail success">
            <strong>Thank You</strong>
            <p>Your Password has been reset.</p>
          </div>
          <form action="">
            <br /><br />
            <button
              ion-button
              full
              type="button"
              color="darkora"
              (click)="enter()"
            >
              Enter
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <bottombar></bottombar>
</ion-content>
