<ion-header>
  <ion-navbar>
    <ion-title>My Profile</ion-title>
    <!-- <ion-buttons end>
      <button ion-button (click)="more()">
        <ion-icon name="create" class="morre"></ion-icon>
      </button> </ion-buttons
  > -->
  </ion-navbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="updateprofile()" [formGroup]="configs" novalidate>
    <div class="profile" margin-top>
      <!-- <div class="profile" margin-top *ngIf="data.paypal_payments_to"> -->
      <div class="profil postlists">
        <ion-row>
          <ion-col>
            <ng-container *ngIf="auth.getuserpic()">
              <img
                src="{{ auth.getuserpic() }}"
                style="width: 100%;
                height: 120px;
                object-fit: cover;"
                *ngIf="lastImage === null"
              />
              <img
                src="{{ lastImage }}"
                style="width: 100%;
                height: 120px;
                object-fit: cover;"
                [hidden]="lastImage === null"
              />
              <p color="darkblue" text-center (click)="presentActionSheet()">
                <ion-icon name="ios-create" color="darkblue"></ion-icon>Change
                Profile Pic
              </p>
            </ng-container>
            <div text-center class="upload" *ngIf="!auth.getuserpic()">
              <ion-icon
                name="md-arrow-up"
                text-center
                (click)="presentActionSheet()"
              ></ion-icon
              ><br /><br />
              Upload Image
            </div>
            <p text-center no-margin>*recommended size: minimum 550px</p>
          </ion-col>
          <ion-col *ngIf="auth.isOwner()">
            <ng-container *ngIf="auth.getuseridpic()">
              <img
                src="{{ auth.getuseridpic() }}"
                style="width: 100%;
                height: 120px;
                object-fit: cover;"
                *ngIf="lastImageid === null"
              />
              <img
                src="{{ lastImageid }}"
                style="width: 100%;
                height: 120px;
                object-fit: cover;"
                [hidden]="lastImageid === null"
              />
              <p color="darkblue" text-center (click)="presentActionSheetid()">
                <ion-icon name="ios-create" color="darkblue"></ion-icon>Change
                Id
              </p>
            </ng-container>
            <div text-center class="upload" *ngIf="!auth.getuseridpic()">
              <ion-icon
                name="md-arrow-up"
                text-center
                (click)="presentActionSheetid()"
              ></ion-icon
              ><br /><br />
              Upload an Id Scan
            </div>
            <p text-center no-margin>*recommended size: minimum 550px</p>
          </ion-col>
        </ion-row>
      </div>

      <div class="prof postlists" margin-top padding>
        <p color="darkblue" text-center (click)="more()">
          <ion-icon name="ios-create" color="darkblue"></ion-icon>Edit Profile
        </p>
        <ion-list>
          <div
            class="error"
            *ngIf="
              configs.get('fname').hasError('required') &&
              configs.get('fname').touched
            "
          >
            <p>First Name Required</p>
          </div>
          <div
            class="error"
            *ngIf="
              configs.get('lname').hasError('required') &&
              configs.get('lname').touched
            "
          >
            <p>Last Name Required</p>
          </div>
          <div
            class="error"
            *ngIf="
              configs.get('email').hasError('required') &&
              configs.get('email').touched
            "
          >
            <p>Email Required</p>
          </div>
          <div
            class="error"
            *ngIf="
              configs.get('email').hasError('pattern') &&
              configs.get('email').touched
            "
          >
            <p>Incorrect Email</p>
          </div>
          <div
            class="error"
            *ngIf="
              configs.get('ppayment').hasError('pattern') &&
              configs.get('ppayment').touched
            "
          >
            <p>Incorrect Email</p>
          </div>
          <div
            class="error"
            *ngIf="
              configs.get('mphone').hasError('required') &&
              configs.get('mphone').touched
            "
          >
            <p>Mobile Phone Required</p>
          </div>
          <ion-row>
            <ion-col no-padding>
              <ion-item>
                <ion-label floating
                  >First Name<span color="danger">*</span></ion-label
                >
                <ion-input
                  [(ngModel)]="data.first_name"
                  type="text"
                  formControlName="fname"
                  [disabled]="disabled"
                ></ion-input>
              </ion-item>
            </ion-col>
            <ion-col no-padding>
              <ion-item>
                <ion-label floating
                  >Last Name<span color="danger">*</span></ion-label
                >
                <ion-input
                  [(ngModel)]="data.last_name"
                  type="text"
                  formControlName="lname"
                  [disabled]="disabled"
                ></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-item>
            <ion-label floating>Email*</ion-label>
            <ion-input
              [(ngModel)]="data.user_email"
              type="email"
              formControlName="email"
              [disabled]="disabled"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Phone</ion-label>
            <ion-input
              [(ngModel)]="data.phone"
              [disabled]="disabled"
              formControlName="phone"
              type="number"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Mobile Phone*</ion-label>
            <ion-input
              [(ngModel)]="data.mobile"
              type="number"
              formControlName="mphone"
              [disabled]="disabled"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating
              >Email for receiving Paypal Payments (booking fees, refund
              security fees, etc)*</ion-label
            >
            <ion-input
              [(ngModel)]="data.paypal_payments_to"
              type="email"
              formControlName="ppayment"
              [disabled]="disabled"
            ></ion-input>
          </ion-item>
          <ion-item *ngIf="auth.isOwner()">
            <ion-label floating>About Me</ion-label>
            <ion-input
              [(ngModel)]="data.description"
              type="text"
              formControlName="about"
              [disabled]="disabled"
            ></ion-input>
          </ion-item>
          <ion-item *ngIf="auth.isOwner()">
            <ion-label floating>I live in</ion-label>
            <ion-input
              [(ngModel)]="data.live_in"
              type="text"
              formControlName="live"
              [disabled]="disabled"
            ></ion-input>
          </ion-item>
          <ion-item *ngIf="auth.isOwner()">
            <ion-label floating>I speak</ion-label>
            <ion-input
              [(ngModel)]="data.i_speak"
              type="text"
              formControlName="speak"
              [disabled]="disabled"
            ></ion-input>
          </ion-item>
          <ion-item *ngIf="auth.isOwner()">
            <ion-label floating>Facebook Url</ion-label>
            <ion-input
              [(ngModel)]="data.facebook"
              type="text"
              formControlName="facebook"
              [disabled]="disabled"
            ></ion-input>
          </ion-item>
          <ion-item *ngIf="auth.isOwner()">
            <ion-label floating>Twitter Url</ion-label>
            <ion-input
              [(ngModel)]="data.twitter"
              type="text"
              formControlName="twitter"
              [disabled]="disabled"
            ></ion-input>
          </ion-item>
        </ion-list>
      </div>
      <button
        ion-button
        full
        margin-top
        margin-right
        margin-left
        round
        *ngIf="!disabled"
        color="darkblue"
        style="width: -webkit-fill-available"
      >
        Update Profile
      </button>
    </div>
  </form>
</ion-content>
<ion-footer> </ion-footer>
