page-selectaddress {
  ion-content {
    background-color: #f9fafe !important;
  }
  .postlists {
    color: color($colors, darkblue);
    box-shadow: 1px 1px 10px #a29e9e;
    padding: 10px;
    background-color: #fff;
    ion-icon {
      font-weight: bold;
    }
    .changebtn {
      background-color: #fff;
      box-shadow: 1px 0px 5px #d8d3d3;
      border-radius: 3px;
      padding: 3px 10px;
      color: color($colors, darkblue);
    }
    p {
      color: color($colors, fauji);
    }
  }
}
