<ion-content padding>
  <ng-container *ngIf="navParams.get('type') == 1">
    <h4 text-center [innerHTML]="message"></h4>
  </ng-container>
  <ng-container *ngIf="navParams.get('type') == 0">
    <h4 text-center>{{ navParams.get("message") }}</h4>
  </ng-container>
</ion-content>
<ion-footer>
  <button ion-button full (click)="dismiss()" no-margin color="darkora">
    OK
  </button>
</ion-footer>
