page-sendpush {
  ion-content {
    .scroll-content {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      h4 {
        width: 100%;
      }
    }
  }
}
