page-mybookingdetail {
  .brdr {
    border-bottom: 1px solid color($colors, lightgrey);
  }
  .price {
  }
  .reservation {
    color: #135c95;
    font-family: opensans-bold;
    font-size: 17px;
  }
  ion-col {
    padding: 10px !important;
    .wall {
      font-weight: bolder;
      font-size: 13px !important;
      color: color($colors, darkblue);
    }
    p {
      font-size: 13px !important;
    }
  }
  .addnwproprty {
    margin: 8px;
    width: -webkit-fill-available;
  }
  .pblish {
    height: 2.6rem !important;
    font-size: 1.1rem !important;
    margin: 0 !important;
  }
  .mor {
    font-size: 2em;
    color: color($colors, fauji);
    float: right;
  }
  .postlist {
    border-bottom: none;
    position: sticky;
    bottom: 0;
    background: #fff;
    height: fit-content;
    width: 100%;
    margin: 0 auto;
    padding: 30px;
    strong {
      font-family: "OpenSans-Bold";
      font-size: 16px;
      line-height: 18px;
      text-align: left;
      display: -webkit-box;
      height: 36px;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .detail {
      color: #484343;
    }
    ion-row {
      .labelctxt {
        color: #a0a0a0;
        ion-icon {
          color: #a0a0a0;
        }
      }
    }
  }
  .success {
    opacity: 0.15;
  }
  .propertyrvw {
    margin-top: 7px;
    ion-segment-button {
      background-color: color($colors, darkblue) !important;
      border-color: color($colors, light) !important;
      color: #fff !important;
    }
    .segment-md-primary .segment-button.activated,
    .segment-md-primary .segment-button.segment-activated {
      color: color($colors, light) !important;
      border-color: color($colors, light) !important;
    }
    .segment-ios-primary .segment-button.activated,
    .segment-ios-primary .segment-button.segment-activated {
      color: color($colors, light) !important;
      border-color: color($colors, light) !important;
    }
  }
  .res {
    width: 100%;
  }
  .searchgroup {
    padding-top: 16px;
  }
  .item-inner {
    border-bottom: none !important;
  }
  .col {
    padding: 0;
  }
  ion-item {
    background-color: #f5f3f4 !important;
  }
  ion-row {
    ion-col {
      button {
        height: 4.6rem !important;
        margin: 0 !important;
        padding: 0 !important;
        box-shadow: none !important;
      }
    }
  }
  .reservation {
    color: #135c95;
    font-family: opensans-bold;
    font-size: 17px;
  }
  .managewallet {
    border: 1px solid #eeeeee;
    div {
      div {
        background: #f5f3f4;
        padding: 8px 0;
        strong {
          padding: 0 10px;
        }
      }
    }
  }
  .reeserve {
    padding: 5px;
    border: 1px solid #f5f3f8;
    position: relative;
    .status {
      position: absolute;
      top: 8px;
      right: 8px;
      background: green;
      color: #fff;
      padding: 10px;
      p {
        margin: 0px;
      }
    }
  }
  .wallet {
    background: none;
    p {
      span {
        font-weight: normal;
      }
    }
    div {
      p {
        background: #f5f3f4;
        padding: 13px 8px;
        margin: 0px;
      }
    }
    .wall {
      padding: 10px 0;
      font-weight: bold;
      margin: 10px 0 0 0;
    }
  }
}
