page-inbox {
  .sdw {
    box-shadow: 0px 0px 11px #c5c5c5eb;
  }
  .inbox {
    .inboxinner {
      div {
        background: #f5f3f4;
        padding: 14px 0;
        strong {
          padding: 0 10px;
        }
      }
      .blueback {
        background: color($colors, darkblue);
        p {
          margin: 0;
          color: #fff;
          padding: 0 10px;
        }
      }
    }
  }
  .greyback {
    position: relative;
    .reply {
      margin: 0 20px 5px 20px;
      border: 2px solid #fff;
      border-radius: 5px;
    }
    button {
      margin: 0.4rem 1.2rem !important;
      background-color: #8dc642;
    }
    input {
      border: 1px solid #efefef;
      padding: 10px;
      margin: 10px;
      width: 90%;
    }
    p {
      padding: 0 10px;
    }
    textarea {
      border: 1px solid #efefef;
      padding: 10px;
      margin: 0 10px;
      width: 90%;
      height: 150px;
    }
    .iconss {
      position: absolute;
      right: 12px;
      top: 0;
      ion-icon {
        color: #91b2c3;
        font-size: 1.8em;
        padding-left: 12px;
      }
    }
  }
}
