<!--
  Generated template for the InboxPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar> <ion-title>Inbox</ion-title> </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="inbox">
    <div class="inboxinner" *ngIf="messages && messages.length">
      <!-- <div><strong></strong></div> -->
      <div class="blueback sdw" *ngIf="unreadmsgs > 0">
        <p>You have {{ unreadmsgs }} unread messages</p>
      </div>
      <ng-container *ngFor="let message of messages; let i = index">
        <div class="greyback sdw" margin-top>
          <strong>Conversation Started</strong>
          <p>{{ message.message_from_user_name }}</p>
          <strong>Subject</strong>
          <p>{{ message.message_title }}</p>
          <strong>Date</strong>
          <p>{{ message.mess_date }}</p>
          <div
            class="reply"
            *ngFor="
              let reply of message.arry_messages_replied_loop;
              let j = index
            "
          >
            <strong>From</strong>
            <p>{{ reply.from }}</p>
            <strong>Subject</strong>
            <p>{{ reply.title }}</p>
            <strong>Message</strong>
            <p>{{ reply.content }}</p>
          </div>
          <div *ngIf="message.reply">
            <p>{{ message.message_content }}</p>
            <strong>Reply</strong><br />
            <input
              type="text"
              value=""
              [(ngModel)]="message.title"
              placeholder="Re: Message from dominic1"
            />
            <textarea [(ngModel)]="message.content"></textarea>
            <button
              ion-button
              (click)="
                replymessage(message.postid, message.title, message.content, i)
              "
            >
              Send Reply
            </button>
          </div>
          <div class="iconss">
            <ion-icon
              name="md-close-circle"
              (click)="removemsg(message.postid, i)"
            ></ion-icon>
            <ion-icon
              (click)="message.reply = !message.reply"
              name="ios-undo"
            ></ion-icon>
          </div>
        </div>
      </ng-container>
    </div>
    <div text-center *ngIf="messages">
      <p *ngIf="messages.length == 0">Empty Inbox</p>
    </div>
  </div>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content> </ion-infinite-scroll
></ion-content>
