<!--
  Generated template for the MoreviewpopPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <ion-list>
    <ion-item (click)="editable = !editable"> Edit </ion-item>
    <ion-item (click)="goto('ChangepasswordPage')"> Change Password </ion-item>
  </ion-list>
</ion-content>
