<!--
  Generated template for the AddareaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Outline Property</ion-title>
    <!--    <ion-buttons end
      ><ion-icon name="md-locate" class="locate"></ion-icon></ion-buttons
  > --></ion-navbar
  >
</ion-header>

<ion-content>
  <!-- <div class="area">
    <ion-row>
      <ion-col>
        <ion-input placeholder="Address, Zipcode, State, County"> </ion-input>
      </ion-col>
      <ion-col col-1>
        <ion-label><ion-icon name="md-locate"></ion-icon></ion-label>
      </ion-col>
    </ion-row>
  </div> -->
  <div #map_canvas class="postlistt postp" id="map_canvas"></div>
  <div id="info" style="display: none"></div>
  <div id="output" style="display: none"></div>
  <div id="color-palette"></div>
  <div>
    <button
      ion-button
      id="delete-button"
      color="darkora"
      *ngIf="all_overlays && all_overlays.length"
      (click)="deleteSelectedShape()"
      full
      round
    >
      <ion-icon name="md-trash"></ion-icon>
      Delete Shape
    </button>
  </div>
  <button
    ion-button
    round
    full
    color="darkblue"
    full
    (click)="goto('AddareainfoPage')"
    class="submitcon"
  >
    Save & Continue
  </button>
  <!-- </div> -->

  <div class="postlistt dtt" margin-top margin-bottom *ngIf="property">
    <h5 class="ttl">Property Details</h5>
    <ion-row *ngIf="property.wpestate_title">
      <ion-col> Property Name: </ion-col>
      <ion-col class="dtl"> {{ property.wpestate_title }} </ion-col>
    </ion-row>
    <ion-row *ngIf="property.prop_category">
      <ion-col> Category: </ion-col>
      <ion-col class="dtl"> {{ property.prop_category }} </ion-col>
    </ion-row>
    <ion-row *ngIf="property.property_city">
      <ion-col> City: </ion-col>
      <ion-col class="dtl"> {{ property.property_city }} </ion-col>
    </ion-row>
    <ion-row *ngIf="property.property_county">
      <ion-col> County /Parish: </ion-col>
      <ion-col class="dtl"> {{ property.property_county }} </ion-col>
    </ion-row>
    <ion-row *ngIf="property.property_state">
      <ion-col> State: </ion-col>
      <ion-col class="dtl"> {{ property.property_state }} </ion-col>
    </ion-row>
    <ion-row *ngIf="property.property_country">
      <ion-col> Country: </ion-col>
      <ion-col class="dtl"> {{ property.property_country }} </ion-col>
    </ion-row>
  </div>
  <div class="postlistt dtt" margin-top margin-bottom *ngIf="property">
    <h5 class="ttl">Selected Area Details</h5>
    <ion-row>
      <ion-col>Address:</ion-col>
      <ion-col class="dtl"
        ><ng-container *ngIf="mapaddress">{{
          mapaddress
        }}</ng-container></ion-col
      >
    </ion-row>
    <ion-row>
      <ion-col>Total Area:</ion-col>
      <ion-col class="dtl" *ngIf="area"
        >{{ area | number: "1.2-2" }}Acres</ion-col
      >
    </ion-row>
  </div>
</ion-content>
