page-info {
  .proinformation {
    .listgroup {
      margin: 0;
      padding: 20px;
      strong {
        color: #135c95;
        font-family: opensans-bold;
        font-size: 17px;
      }
      .subtitle {
        color: color($colors, darkora);
        font-size: 16px;
        font-weight: bold;
      }
      p {
        color: #5d5d5d;
        font-size: 15px;
        line-height: 22px;
        margin-top: 10px;
        margin-bottom: 0;
        label {
          font-family: opensans-bold;
        }
      }
      ul {
        list-style: outside none disc;
        padding: 15px 0;
        margin: 0px;
        li {
          color: #5d5d5d;
          display: inline-block;
          padding: 10px 0;
          width: 48%;
          color: #5d5d5d;
          font-size: 16px;
        }
      }
    }
  }
}
