<!--
  Generated template for the InfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar> <ion-title>Privacy Policy</ion-title> </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="policy && !legal" class="proinformation">
    <div class="listgroup">
      <p>
        This Privacy Policy governs the manner in which Dove Blasters LLC
        collects, uses, maintains and discloses information collected from users
        (each, a “User”) of the http://www.DoveBlasters.com website (“Site”).
        This privacy policy applies to the Site and all products and services
        offered by Dove Blasters LLC.
      </p>
      <p class="subtitle">Personal identification information</p>
      <p>
        We may collect personal identification information from Users in a
        variety of ways, including, but not limited to, when Users visit our
        site, register on the site, place an order, subscribe to the newsletter,
        respond to a survey, fill out a form, and in connection with other
        activities, services, features or resources we make available on our
        Site. Users may be asked for, as appropriate, name, email address,
        mailing address, phone number, credit card information. Users may,
        however, visit our Site anonymously. We will collect personal
        identification information from Users only if they voluntarily submit
        such information to us. Users can always refuse to supply personally
        identification information, except that it may prevent them from
        engaging in certain Site related activities.
      </p>
      <p class="subtitle">Non-personal identification information</p>
      <p>
        We may collect non-personal identification information about Users
        whenever they interact with our Site. Non-personal identification
        information may include the browser name, the type of computer and
        technical information about Users means of connection to our Site, such
        as the operating system and the Internet service providers utilized and
        other similar information.
      </p>
      <p class="subtitle">Web browser cookies</p>
      <p>
        Our Site may use “cookies” to enhance User experience. User’s web
        browser places cookies on their hard drive for record-keeping purposes
        and sometimes to track information about them. User may choose to set
        their web browser to refuse cookies, or to alert you when cookies are
        being sent. If they do so, note that some parts of the Site may not
        function properly.
      </p>
      <p class="subtitle">How we use collected information</p>
      <p>
        Dove Blasters LLC may collect and use Users personal information for the
        following purposes:<br />
        – To improve customer service Information you provide helps us respond
        to your customer service requests and support needs more efficiently.<br />
        – To personalize user experience We may use information in the aggregate
        to understand how our Users as a group use the services and resources
        provided on our Site.<br />
        – To improve our Site We may use feedback you provide to improve our
        products and services.<br />
        – To process payments We may use the information Users provide about
        themselves when placing an order only to provide service to that order.
        We do not share this information with outside parties except to the
        extent necessary to provide the service.<br />
        – To run a promotion, contest, survey or other Site feature To send
        Users information they agreed to receive about topics we think will be
        of interest to them.<br />
        – To send periodic emails We may use the email address to send User
        information and updates pertaining to their order. It may also be used
        to respond to their inquiries, questions, and/or other requests. If User
        decides to opt-in to our mailing list, they will receive emails that may
        include company news, updates, related product or service information,
        etc. If at any time the User would like to unsubscribe from receiving
        future emails, we include detailed unsubscribe instructions at the
        bottom of each email.
      </p>
      <p class="subtitle">How we protect your information</p>
      <p>
        We adopt appropriate data collection, storage and processing practices
        and security measures to protect against unauthorized access,
        alteration, disclosure or destruction of your personal information,
        username, password, transaction information and data stored on our Site.
        Sensitive and private data exchange between the Site and its Users
        happens over a SSL secured communication channel and is encrypted and
        protected with digital signatures.
      </p>
      <p class="subtitle">Sharing your personal information</p>
      <p>
        We do not sell, trade, or rent Users personal identification information
        to others. We may share generic aggregated demographic information not
        linked to any personal identification information regarding visitors and
        users with our business partners, trusted affiliates and advertisers for
        the purposes outlined above.We may use third party service providers to
        help us operate our business and the Site or administer activities on
        our behalf, such as sending out newsletters or surveys. We may share
        your information with these third parties for those limited purposes
        provided that you have given us your permission.
      </p>
      <p class="subtitle">Changes to this privacy policy</p>
      <p>
        Dove Blasters LLC has the discretion to update this privacy policy at
        any time. When we do, we will revise the updated date at the bottom of
        this page. We encourage Users to frequently check this page for any
        changes to stay informed about how we are helping to protect the
        personal information we collect. You acknowledge and agree that it is
        your responsibility to review this privacy policy periodically and
        become aware of modifications.
      </p>
      <p class="subtitle">Your acceptance of these terms</p>
      <p>
        By using this Site, you signify your acceptance of this policy and terms
        of service . If you do not agree to this policy, please do not use our
        Site. Your continued use of the Site following the posting of changes to
        this policy will be deemed your acceptance of those changes.
      </p>
      <p class="subtitle">Contacting us</p>
      <p>
        If you have any questions about this Privacy Policy, the practices of
        this site, or your dealings with this site, please contact us at:<br />
        Dove Blasters LLC <br />
        http://www.DoveBlasters.com <br />
        Dove Blasters LLC <br />
        PMB 280 <br />
        5729 Lebanon Rd. Ste. 144 <br />
        Frisco, TX. 75034 <br />
        214-773-1300 <br />
        info@beta.doveblasters.com <br />
        <br />

        This document was last updated on June 07, 2012
      </p>
    </div>
  </div>
  <div *ngIf="!policy && legal" class="proinformation">
    <div class="listgroup">
      <strong>Privacy Policy</strong>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five
        centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged.
      </p>
      <p class="subtitle">Lorem Ipsum is simply dummy text</p>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five
        centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged. It was popularised in the 1960s with the release
        of Letraset sheets containing Lorem Ipsum passages, and more recently
        with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.
      </p>
    </div>
  </div>
</ion-content>
