<!--
  Generated template for the MediauploadPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar> <ion-title>mediaupload</ion-title> </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button color="darkora" full round (click)="presentActionSheet()">
    Upload Images
  </button>
  <ion-slides pager="true" *ngIf="images && images.length">
    <ion-slide *ngFor="let image of images">
      <img src="image.src" class="slide_image" />
    </ion-slide>
  </ion-slides>
</ion-content>
