<ion-header *ngIf="!areaindex">
  <ion-navbar> <ion-title>Slots on Property</ion-title> </ion-navbar>
</ion-header>
<ion-header *ngIf="areaindex == 0 || areaindex > 0">
  <ion-navbar hideBackButton>
    <ion-buttons start left>
      <button ion-button show (click)="goback()">
        <ion-icon class="backbtn" name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Slots on Property</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div #map_canvas class="postlistt postp" id="map_canvas"></div>
  <div id="color-palette"></div>
  <div id="info" style="display: none"></div>
  <div id="output" style="display: none"></div>

  <button
    ion-button
    id="delete-button"
    color="darkora"
    full
    round
    *ngIf="all_overlays && all_overlays.length"
    (click)="deleteAllShapes()"
  >
    <ion-icon name="md-trash"></ion-icon>
    Delete All Shapes
  </button>
  <div>
    <!-- <button
      ion-button
      id="delete-button"
      color="darkora"
      *ngIf="all_overlays && all_overlays.length"
      (click)="deleteSelectedShape()"
    >
      <ion-icon name="md-trash"></ion-icon>
      Delete Shape
    </button> -->
  </div>
  <div [ngClass]="status ? 'success' : 'danger'">
    <div [ngClass]="status1 ? 'success' : 'danger'">
      <div class="postlistt" margin-top margin-bottom>
        <div class="area" *ngIf="selectedArea">
          <ion-row class="slots" align-items-center>
            <ion-col text-center> {{ selectedArea.area_name }} </ion-col>
          </ion-row>
          <ng-container *ngIf="selectedArea && selectedArea.slots">
            <ion-row
              class="slotss"
              align-items-center
              *ngFor="let slot of selectedArea.slots; let i = index"
            >
              <ion-col col-3>
                <p>{{ slot.slotname }}</p>
              </ion-col>
              <ion-col>
                <p>
                  {{ auth.convertToint(slot.slot_area) | number: "1.2-2" }}
                  Acres
                </p>
              </ion-col>
              <ion-col
                ><ion-icon
                  name="ios-more"
                  padding-right
                  (click)="slotoptions(i + 1)"
                ></ion-icon>
              </ion-col>
            </ion-row>
          </ng-container>
          <ion-row>
            <ion-col>
              <button ion-button full color="fauji">Cancel</button>
            </ion-col>
            <ion-col>
              <button ion-button full color="darkblue" (click)="saveSlot()">
                Save
              </button>
            </ion-col>
          </ion-row>
        </div>
      </div>
      <div class="postlistt" margin-top margin-bottom padding-bottom>
        <div class="areass" radio-group [(ngModel)]="relationship">
          <ion-row align-items-center padding>
            <ion-col>
              <h5 no-margin text-center><b>Areas</b></h5>
            </ion-col>
            <!-- <ion-col class="drk" text-right>
              <ion-icon name="md-add"></ion-icon>&nbsp;Add New Date
            </ion-col> -->
          </ion-row>
          <ng-container *ngIf="productdetail && productdetail.all_areas">
            <div *ngFor="let slot of productdetail.all_areas; let i = index">
              <ion-row class="slots" align-items-center>
                <ion-col> {{ slot.area_name }} </ion-col>
                <ion-col
                  ><input
                    type="radio"
                    name="slot.name"
                    [value]="slot.area_id"
                    (change)="onItemChange(slot, i)"
                    [checked]="i == areaindex"
                /></ion-col>

                <ion-col
                  ><ion-icon
                    name="ios-more"
                    (click)="clickEvent1(slot, i, 'select')"
                  ></ion-icon
                ></ion-col>
              </ion-row>
              <ng-container *ngIf="slot.detail && slot.detail.length">
                <div class="divslot" *ngFor="let dtl of slot.area_date_ranges">
                  <ion-row class="slotss" align-items-center>
                    <ion-col> <p>Start Date</p> </ion-col>
                    <ion-col>
                      <p>{{ dtl.start_date }}</p>
                    </ion-col>
                  </ion-row>
                  <ion-row class="slotss" align-items-center>
                    <ion-col> <p>End Date</p> </ion-col>
                    <ion-col>
                      <p>{{ dtl.end_date }}</p>
                    </ion-col>
                  </ion-row>
                  <ion-row class="slotss" align-items-center>
                    <ion-col> <p>Price</p> </ion-col>
                    <ion-col>
                      <p>{{ dtl.price }}</p>
                    </ion-col>
                  </ion-row>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </div>

      <div
        class="postlistt dtt"
        margin-top
        margin-bottom
        padding-bottom
        *ngIf="property"
      >
        <h5 class="ttl">Property Details</h5>
        <ion-row>
          <ion-col> Property Name: </ion-col>
          <ion-col class="dtl"> {{ property.wpestate_title }} </ion-col>
        </ion-row>
        <ion-row>
          <ion-col> Category: </ion-col>
          <ion-col class="dtl">
            <span [innerHTML]="property.prop_category"></span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col> City: </ion-col>
          <ion-col class="dtl"> {{ property.property_city }} </ion-col>
        </ion-row>
        <ion-row>
          <ion-col> County /Parish: </ion-col>
          <ion-col class="dtl"> {{ property.property_county }} </ion-col>
        </ion-row>
        <ion-row>
          <ion-col> State: </ion-col>
          <ion-col class="dtl"> {{ property.property_state }} </ion-col>
        </ion-row>
        <ion-row>
          <ion-col> Country: </ion-col>
          <ion-col class="dtl"> {{ property.property_country }} </ion-col>
        </ion-row>
      </div>
      <div class="postlistt dtt" margin-top margin-bottom padding-bottom>
        <h5 class="ttl">Selected Area Details</h5>
        <ion-row>
          <ion-col>Address:</ion-col>
          <ion-col class="dtl">{{ property.mapaddress }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Total Area:</ion-col>
          <ion-col class="dtl"
            >{{ property.area | number: "1.2-2" }}Acres</ion-col
          >
        </ion-row>
      </div>
    </div>
  </div>

  <div class="postlist" *ngIf="show" [@slideInOut]>
    <div>
      <!--button ion-button color="darkblue" full (click)="copySlot()">Copy</button
      --><button
        ion-button
        color="darkblue"
        (click)="deleteSelectedShape()"
        full
      >
        Delete</button
      ><button ion-button color="danger" (click)="clickEvent()" full>
        Cancel
      </button>
    </div>
  </div>

  <div class="postlist" *ngIf="show1" [@slideInOut]>
    <div>
      <button ion-button color="darkblue" (click)="editslot()" full>Edit</button
      ><button ion-button color="danger" (click)="clickEvent1()" full>
        Cancel
      </button>
    </div>
  </div>
  <button
    class="submitcon"
    ion-button
    round
    full
    color="darkblue"
    full
    (click)="goto('UploadmediaPage')"
  >
    Continue
  </button></ion-content
>
