page-addslotproperty {
  ion-content {
    background-color: #f9fafe !important;
  }
  .divslot {
    border-bottom: 1px solid;
  }
  .drk {
    color: color($colors, darkblue);
  }

  .backbtn {
    margin: 0;
    padding: 0 6px;
    text-align: left;
    text-align: start;
    font-size: 2.4rem;
    font-weight: normal;
  }
  .area {
    ion-row {
      ion-col {
        ion-icon {
          font-size: 1.6em;
          padding-top: 4px;
        }
      }
    }
  }
  agm-map {
    height: 300px;
  }
  .postlistt {
    box-shadow: 1px 1px 10px #a29e9e;
    padding-bottom: 8px;
    background-color: #fff;
    ion-row {
      border-bottom: 1px solid #e8e8e8;
    }
  }
  .dtt {
    padding: 0 10px;
  }
  .dtl {
    color: #4c4c4c;
  }
  .ttl {
    padding: 14px 0 6px 4px;
    border-bottom: 1px solid #e8e8e8;
  }
  .areass {
    .slotss {
      p {
        // margin-top: 0;
        // margin-bottom: 0px;
      }
    }
    .slots {
      padding: 6px 0;
      background: #ffffff;
      color: color($colors, darkblue);
      border-top: 1px solid color($colors, darkblue);
      border-bottom: 1px solid color($colors, darkblue);
      ion-col {
        text-align: center;
        ion-icon {
          font-size: 2em;
        }
      }
    }
    .slotss {
      ion-col {
        ion-icon {
          display: inline-block;
          font-size: 2em;
          float: right;
        }
        p {
          margin-bottom: 0;
          margin-top: 0px;
          text-align: center;
        }
      }
      // }
      ion-segment {
        .boder {
          border: 1px solid color($colors, darkblue) !important;
          background: color($colors, darkblue);
          color: #fff !important;
          opacity: 1;
        }
        .back {
          border: 1px solid color($colors, darkblue) !important;
          background: color($colors, darkblue);
          color: #fff !important;
          opacity: 1;
        }
      }
    }
    .naslot {
      padding: 9px;
    }
  }
  .area {
    // div {
    .slots {
      padding: 6px 0;
      background: #ffffff;
      color: color($colors, darkblue);
      border-top: 1px solid color($colors, darkblue);
      border-bottom: 1px solid color($colors, darkblue);
      ion-col {
        text-align: center;
      }
    }
    .slotss {
      ion-col {
        ion-icon {
          display: inline-block;
          font-size: 2em;
          float: right;
        }
        p {
          margin-bottom: 0;
          margin-top: 8px;
          text-align: center;
        }
      }
      // }
      ion-segment {
        .boder {
          border: 1px solid color($colors, darkblue) !important;
          background: color($colors, darkblue);
          color: #fff !important;
          opacity: 1;
        }
        .back {
          border: 1px solid color($colors, darkblue) !important;
          background: color($colors, darkblue);
          color: #fff !important;
          opacity: 1;
        }
      }
    }
    .naslot {
      padding: 9px;
    }
  }
  .postlist {
    border-bottom: none;
    position: sticky;
    bottom: 0;
    background: #fff;
    height: fit-content;
    width: 100%;
    margin: 0 auto;
    padding: 30px;
    strong {
      font-family: "OpenSans-Bold";
      font-size: 16px;
      line-height: 18px;
      text-align: left;
      display: -webkit-box;
      height: 36px;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .detail {
      color: #484343;
    }
    ion-row {
      .labelctxt {
        color: #a0a0a0;
        ion-icon {
          color: #a0a0a0;
        }
      }
    }
  }

  .success {
    opacity: 0.15;
  }

  #map_canvas {
    width: 100%;
    height: 90%;
  }
  #color-palette {
    clear: both;
  }
}
