<!--
  Generated template for the AddareainfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons start left>
      <button ion-button show (click)="goback()">
        <ion-icon class="backbtn" name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Area Information</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- <pre>{{myForm.value | json}}</pre> -->
  <div [ngClass]="status ? 'success' : 'danger'" *ngIf="property">
    <form [formGroup]="myForm" (ngSubmit)="addareas()">
      <div class="postlists" margin-top>
        <ion-list>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label floating>Area Name</ion-label>
                <ion-input
                  type="text"
                  formControlName="prop_area_name"
                ></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label floating>Slot Details</ion-label>
                <ion-input
                  type="text"
                  formControlName="prop_area_slot_details"
                ></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                Area Color
                <input
                  type="color"
                  id="head"
                  name="head"
                  formControlName="prop_area_slot_color"
                  value="#e66465"
                />
              </ion-item>
            </ion-col>
            <ion-col> </ion-col>
          </ion-row>
        </ion-list>
        <button ion-button full color="darkora" round>Update Detail</button>
      </div>
    </form>

    <form [formGroup]="myForm1" (ngSubmit)="addareas2()">
      <div class="postlists" margin-top formArrayName="detail">
        <ion-list
          *ngFor="let date of myForm1.get('detail').controls; let j = index"
        >
          <ng-container [formGroupName]="j">
            <ion-row
              *ngIf="
                myForm1.get('detail').controls &&
                myForm1.get('detail').controls.length &&
                myForm1.get('detail').controls.length > 1
              "
            >
              <ion-col no-padding
                ><ion-icon
                  float-right
                  color="danger"
                  name="md-close-circle"
                  (click)="deletedates(myForm1.get('detail'), date, j)"
                ></ion-icon
              ></ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label floating>Start Date</ion-label>
                  <ion-datetime
                    formControlName="start_date"
                    displayFormat="DD/MM/YYYY"
                    pickerFormat="DD MMMM YYYY"
                    [min]="myForm1.get('detail').controls[j].value.min"
                    (ionChange)="chngedate(myForm1.get('detail').controls[j])"
                    [max]="max"
                    disabled
                  ></ion-datetime>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item
                  *ngIf="myForm1.get('detail').controls[j].value.start_date"
                >
                  <ion-label floating>End Date</ion-label>
                  <ion-datetime
                    formControlName="end_date"
                    displayFormat="DD/MM/YYYY"
                    pickerFormat="DD MMMM YYYY"
                    [min]="
                      auth.checkdate(
                        myForm1.get('detail').controls[j].value.start_date,
                        1
                      )
                    "
                    disabled
                    [max]="max"
                    (ionChange)="
                      chngedatemin(myForm1.get('detail').controls[j])
                    "
                  ></ion-datetime>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label floating>Cost($ per day)</ion-label>
                  <ion-input
                    type="number"
                    formControlName="price"
                    disabled
                  ></ion-input>
                </ion-item>
              </ion-col>
              <ion-col> </ion-col>
            </ion-row>
          </ng-container>
        </ion-list>
      </div>

      <div class="postlists" margin-top>
        <div class="dat" (click)="addnewdate('AddnewdatePage')">
          <ion-icon name="md-add"></ion-icon>&nbsp;Add New Date
        </div>
      </div>

      <button
        ion-button
        full
        color="darkora"
        class="submitcon"
        round
        margin-top
        margin-bottom
      >
        Save
      </button>

      <div class="postlists" margin-top *ngIf="slots && slots.length">
        <!--    <div class="dat" padding-bottom>
          <ion-icon name="md-add"></ion-icon>&nbsp;View All Area
        </div> -->

        <div class="area">
          <ion-row class="slots">
            <ion-col text-center> View All Areas </ion-col>
          </ion-row>
          <ion-row class="slotss" *ngFor="let slot of slots; let i = index">
            <ion-col col-3>
              <p>{{ slot.prop_area_name }}</p>
            </ion-col>
            <ion-col>
              <p>{{ slot.prop_area_slot_details }}</p>
            </ion-col>
            <ion-col
              ><ion-icon
                name="ios-more"
                padding-right
                (click)="clickEvent(slot, i)"
              ></ion-icon>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </form>
    <button
      *ngIf="slots && slots.length"
      ion-button
      full
      color="darkblue"
      round
      (click)="goto('AddslotpropertyPage')"
      class="submitcon"
      margin-top
    >
      Continue
    </button>
  </div>

  <div class="postlist" *ngIf="show" [@slideInOut]>
    <div>
      <button ion-button color="darkblue" full (click)="delete()">Delete</button
      ><button ion-button color="darkblue" full (click)="copy()">Copy</button
      ><button ion-button color="danger" (click)="clickEvent()" full>
        Cancel
      </button>
    </div>
  </div>
</ion-content>
