page-featureimage {
  ion-slides {
    .slide-zoom {
      position: relative;
    }
    p {
      position: absolute;
      color: color($colors, light);
      right: 12px;
      bottom: 0;
    }
  }

  .swiper-pagination-bullet {
    width: 12px;
    height: 6px;
    border-radius: 10px;
  }
  .swiper-pagination-bullet-active {
    background: color($colors, darkblue);
  }
  .video {
    width: 100%;
    height: auto;
  }

  .backbtn {
    margin: 0;
    padding: 0 6px;
    text-align: left;
    text-align: start;
    font-size: 2.4rem;
    font-weight: normal;
  }
}
