page-mapfullview {
  #map_canvas {
    height: -webkit-fill-available;
  }
  agm-map {
    height: -webkit-fill-available;
  }
  .postlists {
    z-index: 2;
    border-bottom: none;
    position: sticky;
    bottom: 0;
    background: #fff;
    height: fit-content;
    width: 100%;
    strong {
      font-family: "OpenSans-Bold";
      font-size: 16px;
      line-height: 18px;
      text-align: left;
      display: -webkit-box;
      height: 36px;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    div {
      display: grid;
      // right: 8px;
      position: relative;
      top: 2px;
      font-size: 2rem;
    }
    .detail {
      color: #484343;
    }
    ion-row {
      .labelctxt {
        color: #a0a0a0;
        ion-icon {
          color: #a0a0a0;
        }
      }
    }
    .part {
      border-bottom: 1px solid color($colors, fauji);
    }
  }
  .canbtn {
    background-color: color($colors, light);
    color: color($colors, darkblue);
  }
  .closetab {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
  }
}
