<!--
  Generated template for the DrivingdirectionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button navPop ion-button icon-only>
        <ion-icon color="light" name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="option.lat != 0 && option.lng != 0" class="map">
    <agm-map
      [latitude]="lat"
      [longitude]="lng"
      [mapTypeId]="'satellite'"
      [zoom]="zoom"
      (mapReady)="changeTilt($event)"
      #agmMap
    >
      <agm-direction
        [origin]="origin"
        [destination]="destination"
        [renderOptions]="renderOptions"
        [markerOptions]="markerOptions"
      >
      </agm-direction>
      <agm-marker
        [latitude]="option.lat"
        [longitude]="option.lng"
        (markerClick)="clickEvent()"
        [iconUrl]="auth.locationiconUrl()"
      >
      </agm-marker>

      <agm-rectangle
        *ngIf="slotarea.shape_type == 'rectangle'"
        [north]="auth.slotnorth(slotarea.slot_coordinates)"
        [east]="auth.sloteast(slotarea.slot_coordinates)"
        [south]="auth.slotsouth(slotarea.slot_coordinates)"
        [west]="auth.slotwest(slotarea.slot_coordinates)"
        [fillColor]="slotarea.slot_color"
        [fillOpacity]="0.3"
        [strokeOpacity]="1"
        [strokeColor]="slotarea.slot_color"
        [strokePosition]="option.strokePos"
        [strokeWeight]="option.strokeWeight"
      >
      </agm-rectangle>
      <agm-circle
        *ngIf="slotarea.shape_type == 'circle'"
        [latitude]="auth.convertToint(slotarea.slot_circle_lat)"
        [longitude]="auth.convertToint(slotarea.slot_circle_lng)"
        [radius]="auth.convertToint(slotarea.slot_circle_radious)"
        [fillOpacity]="0.3"
        [strokeOpacity]="1"
        [fillColor]="slotarea.slot_color"
        [strokeColor]="slotarea.slot_color"
        [strokePosition]="option.strokePos"
        [strokeWeight]="option.strokeWeight"
      >
      </agm-circle>
      <agm-polygon
        *ngIf="slotarea.shape_type == 'polygon'"
        [paths]="slotarea.slot_coordinate"
        [fillColor]="slotarea.slot_color"
        [fillOpacity]="0.5"
        [strokeColor]="slotarea.slot_color"
        [strokeOpacity]="1"
        [strokeWeight]="3"
      >
      </agm-polygon>
    </agm-map>
  </div>
  <div *ngIf="option.lat == 0 && option.lng == 0" padding-left padding-top>
    Keep Patience Detecting your location ....
  </div>
  <ion-fab left bottom *ngIf="option.lat != 0 && option.lng != 0">
    <button
      color="darkblue"
      ion-fab
      class="menui"
      (click)="stopdirection()"
      *ngIf="direct"
    >
      <ion-icon name="ios-navigate" class="menuicon"></ion-icon>
    </button>
    <button color="darkblue" ion-fab (click)="direction()" *ngIf="!direct">
      <ion-icon name="ios-navigate"></ion-icon>
    </button>
  </ion-fab>
  <ion-fab right top #fab *ngIf="option.lat != 0 && option.lng != 0">
    <button ion-fab color="light" color="darkblue">
      <ion-icon name="arrow-dropleft"></ion-icon>
    </button>
    <ion-fab-list side="left">
      <button color="darkblue" ion-fab (click)="currentposition(fab)">
        <ion-icon name="md-locate"></ion-icon>
      </button>
      <button color="darkblue" ion-fab (click)="reroute(fab)">
        <ion-icon name="md-git-compare"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
