page-areaslot {
  .area {
    div {
      .slots {
        padding: 14px 0;
        background: #000;
        color: #fff;
      }
      div .slotss {
        background: #f6f6f6;
        ion-col {
          ion-icon {
            display: inline-block;
            font-size: 1.2em;
            background: #dad8d8;
            padding: 5px;
          }
          p {
            margin-bottom: 0;
            margin-top: 8px;
          }
        }
      }
      ion-segment {
        .boder {
          border: 1px solid color($colors, darkblue) !important;
          background: color($colors, darkblue);
          color: #fff !important;
          opacity: 1;
        }
        .back {
          border: 1px solid color($colors, darkblue) !important;
          background: color($colors, darkblue);
          color: #fff !important;
          opacity: 1;
        }
      }
      .naslot {
        padding: 12px;
        background: #eeeeee;
        margin-bottom: 12px;
        h5 {
          font-size: 16px;
          color: color($colors, darkblue);
          text-align: center;
          margin-bottom: 0px;
        }
      }
    }
  }
  .segment-md-primary .segment-button.activated,
  .segment-md-primary .segment-button.segment-activated {
    color: color($colors, darkblue) !important;
    border-color: color($colors, darkblue) !important;
    background: #fff !important;
    opacity: 1 !important;
  }
  .segment-ios-primary .segment-button.activated,
  .segment-ios-primary .segment-button.segment-activated {
    color: color($colors, darkblue) !important;
    border-color: color($colors, darkblue) !important;
    background: #fff !important;
    opacity: 1 !important;
  }
}
