<!--
  Generated template for the ManagecouponsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar> <ion-title>Manage Coupons</ion-title> </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="coupon" [ngClass]="status ? 'success' : 'danger'">
    <button
      ion-button
      color="darkora"
      round
      full
      (click)="goto('CreatecouponPage')"
    >
      <ion-icon name="md-add-circle"></ion-icon>&nbsp;Add New Coupon
    </button>
    <div class="table">
      <div class="tabl">
        <ion-row>
          <ion-col> Coupon Code </ion-col>
          <ion-col text-right> Action </ion-col>
        </ion-row>
      </div>
      <ng-container *ngIf="coupons && coupons.length">
        <ion-row
          class="defini slotss"
          *ngFor="let coupon of coupons; let i = index"
        >
          <ion-col
            ><p>{{ coupon.coupon_title }}</p></ion-col
          >
          <ion-col text-right>
            <ion-icon
              name="ios-more"
              padding-right
              (click)="clickEvent(coupon.coupon_id, i)"
            ></ion-icon>
          </ion-col>
        </ion-row>
      </ng-container>
      <ng-container *ngIf="!coupons">
        <p text-center>No Coupons</p>
      </ng-container>
    </div>
  </div>

  <div class="postlist" *ngIf="show" [@slideInOut]>
    <div>
      <button ion-button color="darkblue" full (click)="editcoupon()">
        Edit</button
      ><button ion-button color="darkblue" full (click)="deletecoupon()">
        Delete</button
      ><button ion-button color="danger" (click)="clickEvent()" full>
        Cancel
      </button>
    </div>
  </div>
</ion-content>
