<!--
  Generated template for the AddnewpropertyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar> <ion-title>Add New Property</ion-title> </ion-navbar>
</ion-header>

<ion-content>
  <div style="display: none;" #map_canvas id="map_canvas"></div>
  <form (ngSubmit)="addproperty()" [formGroup]="configs" novalidate>
    <div class="addnewproperty postlists" margin-top>
      <ion-list>
        <div
          class="error"
          *ngIf="
            configs.get('title').hasError('required') &&
            configs.get('title').touched
          "
        >
          <p>Title of Property Required</p>
        </div>
        <div
          class="error"
          *ngIf="
            configs.get('category').hasError('required') &&
            configs.get('category').touched
          "
        >
          <p>Category Required</p>
        </div>
        <div
          class="error"
          *ngIf="
            configs.get('city').hasError('required') &&
            configs.get('city').touched
          "
        >
          <p>City Required</p>
        </div>
        <div
          class="error"
          *ngIf="
            configs.get('wantlease').hasError('required') &&
            configs.get('wantlease').touched
          "
        >
          <p>Wanting to lease(Mandatory) Required</p>
        </div>
        <div
          class="error"
          *ngIf="
            configs.get('county').hasError('required') &&
            configs.get('county').touched
          "
        >
          <p>County Required</p>
        </div>
        <div
          class="error"
          *ngIf="
            configs.get('state').hasError('required') &&
            configs.get('state').touched
          "
        >
          <p>State Required</p>
        </div>
        <div
          class="error"
          *ngIf="
            configs.get('country').hasError('required') &&
            configs.get('country').touched
          "
        >
          <p>Country Required</p>
        </div>
        <div
          class="error"
          *ngIf="
            configs.get('zipcode').hasError('required') &&
            configs.get('zipcode').touched
          "
        >
          <p>Zipcode Required</p>
        </div>
        <div
          class="error"
          *ngIf="
            configs.get('description').hasError('required') &&
            configs.get('description').touched
          "
        >
          <p>Property Description Required</p>
        </div>
        <div
          class="error"
          *ngIf="
            configs.get('feature').hasError('required') &&
            configs.get('feature').touched
          "
        >
          <p>Features Required</p>
        </div>
        <ion-item margin-bottom>
          <ion-label floating>Title of Property<span>*</span></ion-label>
          <ion-input
            type="text"
            [(ngModel)]="property.title"
            name="title"
            formControlName="title"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Category<span>*</span></ion-label>
          <ion-select
            placeholder="Select"
            [(ngModel)]="property.category"
            name="category"
            formControlName="category"
          >
            <ng-container *ngIf="categories && categories.length">
              <ion-option
                *ngFor="let categorie of categories"
                [value]="categorie.cat_ID"
                ><span [innerHTML]="categorie.name"></span
              ></ion-option>
            </ng-container>
          </ion-select>
        </ion-item>
      </ion-list>
    </div>
    <div class="addnewproperty postlists" margin-top>
      <ion-list>
        <div class="autocmplete">
          <ion-item margin-bottom>
            <ion-label floating>City<span>*</span></ion-label>
            <ion-input
              type="text"
              [(ngModel)]="property.city"
              name="city"
              formControlName="city"
              (input)="citysearch($event)"
            ></ion-input>
          </ion-item>
          <div
            class="autocompletelist"
            *ngIf="autocompleteItems && autocompleteItems.length"
          >
            <ion-item
              *ngFor="let item of autocompleteItems"
              tappable
              (click)="chooseItem(item)"
            >
              {{ item.description }}
            </ion-item>
          </div>
        </div>
        <ion-item *ngIf="lease && lease.length">
          <ion-label>Wanting to lease(mandatory)<span>*</span></ion-label>
          <ion-select
            placeholder="Select"
            [(ngModel)]="property.wantlease"
            name="wantlease"
            formControlName="wantlease"
          >
            <ng-container *ngIf="lease && lease.length">
              <ion-option *ngFor="let leas of lease" [value]="leas.cat_ID"
                >{{ leas.name }}
              </ion-option>
            </ng-container>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label floating>County or Parish<span>*</span></ion-label>
          <ion-input
            type="text"
            [(ngModel)]="property.county"
            name="county"
            formControlName="county"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>State<span>*</span></ion-label>
          <ion-input
            type="text"
            [(ngModel)]="property.state"
            name="state"
            formControlName="state"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Country<span>*</span></ion-label>
          <ion-input
            type="text"
            [(ngModel)]="property.country"
            name="country"
            formControlName="country"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Zipcode<span>*</span></ion-label>
          <ion-input
            type="number"
            [(ngModel)]="property.zipcode"
            name="zipcode"
            formControlName="zipcode"
          ></ion-input>
        </ion-item>
        <ion-item margin-bottom>
          <ion-label floating>Property Description<span>*</span></ion-label>
          <ion-input
            type="text"
            [(ngModel)]="property.description"
            name="description"
            formControlName="description"
          ></ion-input>
        </ion-item>
        <ion-item margin-bottom *ngIf="features && features.property_features">
          <ion-label>Property Features</ion-label>
          <ion-select
            placeholder="Select"
            [(ngModel)]="property.features"
            name="feature"
            formControlName="feature"
            multiple
          >
            <ng-container *ngIf="features && features.property_features">
              <ion-option
                *ngFor="let feature of features.property_features"
                [value]="feature"
              >
                <span [innerHTML]="feature"></span>
              </ion-option>
            </ng-container>
          </ion-select>
        </ion-item>
        <ion-item margin-bottom *ngIf="features && features.available_species">
          <ion-label>Available Species</ion-label>
          <ion-select
            placeholder="Select"
            [(ngModel)]="property.available_species"
            name="feature"
            formControlName="feature"
            multiple
          >
            <ng-container *ngIf="features && features.available_species">
              <ion-option
                *ngFor="let feature of features.available_species"
                [value]="feature"
              >
                <span [innerHTML]="feature"></span>
              </ion-option>
            </ng-container>
          </ion-select>
        </ion-item>
        <ion-item margin-bottom *ngIf="features && features.permitted_weapon">
          <ion-label>Permitted Weapons</ion-label>
          <ion-select
            placeholder="Select"
            [(ngModel)]="property.permitted_weapon"
            name="feature"
            formControlName="feature"
            multiple
          >
            <ng-container *ngIf="features && features.permitted_weapon">
              <ion-option
                *ngFor="let feature of features.permitted_weapon"
                [value]="feature"
              >
                <span [innerHTML]="feature"></span>
              </ion-option>
            </ng-container>
          </ion-select>
        </ion-item>
        <ion-item
          margin-bottom
          *ngIf="features && features.permitted_onproperty"
        >
          <ion-label>Permitted on Property</ion-label>
          <ion-select
            placeholder="Select"
            [(ngModel)]="property.permitted_onproperty"
            name="feature"
            formControlName="feature"
            multiple
          >
            <ng-container *ngIf="features && features.permitted_onproperty">
              <ion-option
                *ngFor="let feature of features.permitted_onproperty"
                [value]="feature"
              >
                <span [innerHTML]="feature"></span>
              </ion-option>
            </ng-container>
          </ion-select>
        </ion-item>
      </ion-list>
      <!-- <h6>-Select the features that apply for your property.</h6> -->

      <button
        ion-button
        full
        color="usgbtn2"
        color="darkblue"
        margin-top
        margin-bottom
        round
      >
        Save & Continue
      </button>
    </div>
  </form>
</ion-content>
