page-addnewproperty {
  ion-content {
    background-color: #f9fafe !important;
  }
  .postlists {
    color: #135c95;
    -webkit-box-shadow: 1px 1px 10px #a29e9e;
    box-shadow: 1px 1px 10px #a29e9e;
    padding: 10px;
    background-color: #fff;
    ion-item {
      border-bottom: none !important;
      padding-left: 4px !important;
      .item-inner {
        border-bottom: 1px solid #dedede !important;
        ion-label {
          span {
            color: color($colors, danger);
          }
        }
      }
    }
    ion-list {
      margin-top: 0 !important;
    }
  }
  .profile {
  }
  .error {
    color: red;
    border: 1px solid;
    padding-left: 10px;
    border-radius: 4px;
    margin-bottom: 4px;
  }
  .autocompletelist {
    background: color($colors, lightgrey);
    position: absolute;
    width: 100%;
    z-index: 999;
    top: 60px;
    padding-left: 10px;
    ion-item {
      background: transparent;
      color: #fff;
    }
  }
  .autocmplete {
    position: relative;
  }
}
