<!--
  Generated template for the PropertydetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar> <ion-title></ion-title> </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="profile">
    <div class="profil">
      <div class="pdetail">
        <strong>Property Details</strong
        ><ion-icon float-right padding-right name="md-more"></ion-icon>
      </div>
      <div>
        <img src="assets/images/resmap.jpg" width="100%;" />

        <p>Property</p>
        <ion-input placeholder=""></ion-input>
        <p>Category</p>
        <ion-input placeholder=""></ion-input>
        <p>Google Address</p>
        <ion-input placeholder=""></ion-input>
        <p>City</p>
        <ion-input placeholder=""></ion-input>
        <p>State</p>
        <ion-input placeholder=""></ion-input>
        <p>Zipcode</p>
        <ion-input placeholder=""></ion-input>
        <p>Country</p>
        <ion-input placeholder=""></ion-input>
        <p>Total Property area in acres</p>
        <ion-input placeholder=""></ion-input>
        <p>Listing Media</p>
        <div text-center color="darkblue" class="brdr">
          <ion-icon name="md-arrow-round-up"></ion-icon><br />Select Media
        </div>
        <p>Video From</p>
        <ion-item>
          <ion-select><ion-option></ion-option></ion-select>
        </ion-item>
        <p>Video Id</p>
        <ion-input placeholder=""></ion-input>

        <button ion-button full color="usgbtn2" margin-top margin-bottom>
          Save
        </button>
        <button ion-button full color="darkora" margin-top>Finish</button>
      </div>
    </div>
  </div></ion-content
>
