<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>
  <ion-item>
    <ion-range
      dualKnobs="true"
      min="0"
      max="5000"
      [(ngModel)]="rangeObject"
      color="darkora"
      pin="true"
      (ngModelChange)="rangeChange()"
    >
      <ion-label range-left padding-right>$1</ion-label>
      <ion-label range-right padding-left>$5000</ion-label>
    </ion-range>
  </ion-item>
  <form [formGroup]="configs" novalidate>
    <br /><br />
    <div *ngIf="categories || features">
      <ion-item *ngIf="categories && categories.length">
        <ion-label>Category</ion-label>
        <ion-select formControlName="categ" placeholder="Select">
          <ng-container *ngIf="categories && categories.length">
            <ion-option
              *ngFor="let category of categories"
              name="categories"
              [value]="category.slug"
              ><span [innerHTML]="category.name"></span>
            </ion-option>
          </ng-container>
        </ion-select>
      </ion-item>
      <br /><br />
      <ion-item *ngIf="features && features.property_features">
        <ion-label>Property Features</ion-label>
        <ion-select
          placeholder="Select"
          formControlName="feat"
          [(ngModel)]="data.property_features"
          multiple
        >
          <ng-container *ngIf="features && features.property_features.length">
            <ion-option
              *ngFor="let feature of features.property_features"
              [value]="feature"
            >
              <span [innerHTML]="feature"></span>
            </ion-option>
          </ng-container>
        </ion-select>
      </ion-item>
      <br /><br />
      <ion-item *ngIf="features && features.available_species">
        <ion-label>Available Species</ion-label>
        <ion-select
          placeholder="Select"
          formControlName="feat1"
          [(ngModel)]="data.available_species"
          multiple
        >
          <ng-container *ngIf="features && features.available_species.length">
            <ion-option
              *ngFor="let feature of features.available_species"
              [value]="feature"
            >
              <span [innerHTML]="feature"></span>
            </ion-option>
          </ng-container>
        </ion-select>
      </ion-item>
      <br /><br />
      <ion-item *ngIf="features && features.permitted_weapon">
        <ion-label>Permitted Weapons</ion-label>
        <ion-select
          placeholder="Select"
          formControlName="feat2"
          [(ngModel)]="data.permitted_weapon"
          multiple
        >
          <ng-container *ngIf="features && features.permitted_weapon.length">
            <ion-option
              *ngFor="let feature of features.permitted_weapon"
              [value]="feature"
            >
              <span [innerHTML]="feature"></span>
            </ion-option>
          </ng-container>
        </ion-select>
      </ion-item>
      <br /><br />
      <ion-item *ngIf="features && features.permitted_onproperty">
        <ion-label>Permitted on Property</ion-label>
        <ion-select
          placeholder="Select"
          formControlName="feat3"
          [(ngModel)]="data.permitted_onproperty"
          multiple
        >
          <ng-container
            *ngIf="features && features.permitted_onproperty.length"
          >
            <ion-option
              *ngFor="let feature of features.permitted_onproperty"
              [value]="feature"
            >
              <span [innerHTML]="feature"></span>
            </ion-option>
          </ng-container>
        </ion-select>
      </ion-item>
    </div>
    <div *ngIf="!categories && !features">
      <p>Loading Categories and Features</p>
    </div>
  </form>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col no-padding>
      <button
        full
        ion-button
        color="light"
        no-margin
        class="brdr"
        (click)="dismiss(0)"
      >
        Cancel
      </button>
    </ion-col>
    <ion-col no-padding>
      <button full ion-button color="darkblue" no-margin (click)="dismiss(1)">
        Search
      </button>
    </ion-col>
  </ion-row>
</ion-footer>
