<!--
  Generated template for the LandownerdtPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="backclr" *ngIf="landown">
  <div class="avtimg">
    <img [src]="landown.image_url" />
  </div>
  <h3 text-center>{{ landown.post_title }}</h3>
  <ion-icon name="pin"></ion-icon>&nbsp;{{ landown.live_in }}<br /><br />
  <span [innerHTML]="landown.post_content"></span>
</ion-content>
