page-landownerdt {
  .backclr {
    color: #fff;
    background-color: #333333;
    text-align: center;
    .avtimg {
      margin: 0 auto;
      display: block;
      img {
        width: 200px;
        border: 2px solid #f9d293;
        border-radius: 50%;
        height: 200px;
        object-fit: cover;
      }
    }
  }
  img {
    width: 100%;
  }
}
