<!--
  Generated template for the ResetpasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content class="sky-background">
  <div padding>
    <div class="logo">
      <img class="aligncenter" src="assets/images/logo.png" />
    </div>
    <div class="midcontent">
      <div class="heading">Reset Your Password</div>

      <div class="error" *ngIf="mismatch">
        <p>There was a problem</p>

        <h6 padding-left no-margin padding-bottom>
          The two passwords you entered do not match. Please re-enter and try
          again
        </h6>
      </div>
      <div class="loginform">
        <form (ngSubmit)="resetPass()" [formGroup]="configs" novalidate>
          <ion-list>
            <ion-item class="inputfield">
              <i item-start> <ion-icon name="lock"></ion-icon> </i>
              <ion-input
                type="password"
                [(ngModel)]="user.password"
                name="password"
                minlength="6"
                placeholder="Create Password"
                formControlName="password"
                (ionBlur)="pwdMatchValidator()"
                [class.error1]="
                  !configs.controls.password.valid &&
                  configs.controls.password.dirty
                "
              ></ion-input>
            </ion-item>
            <ion-item class="inputfield">
              <i item-start> <ion-icon name="lock"></ion-icon> </i>
              <ion-input
                type="password"
                [(ngModel)]="user.cpassword"
                name="cpassword"
                minlength="6"
                placeholder="Re-enter Password"
                formControlName="cpassword"
                (ionBlur)="pwdMatchValidator()"
                [class.error1]="
                  !configs.controls.cpassword.valid &&
                  configs.controls.cpassword.dirty
                "
              ></ion-input>
            </ion-item>
          </ion-list>
          <button
            ion-button
            class="submit-button"
            color="darkora"
            type="submit"
            full
          >
            Reset Password
          </button>
        </form>
      </div>
    </div>
  </div>
  <bottombar></bottombar>
</ion-content>
