page-resetpassword {
  .midcontent {
    margin: 0 0 100px;
    padding: 0 15px;
    .heading {
      font-size: 18px;
      color: #001d34;
      padding: 10px 0;
      font-family: "OpenSans-Light";
    }
  }

  .error {
    border: 1px solid color($colors, err);
    margin: 0 0 10px;
    border-radius: 3px;
    padding: 0;
    p {
      color: color($colors, err);
      padding: 15px 15px;
      font-size: 16px;
      line-height: 25px;
      margin: 0;
    }
  }
}
