page-uploadmedia {
  .videoportion {
    margin-top: 16px;
  }
  ion-select {
    max-width: 100%;
    padding: 13px 8px 10px 16px;
    border-bottom: 1px solid color($colors, darkblue);
  }
  ion-input {
    border-bottom: 1px solid color($colors, darkblue);
  }
  .profile {
    -webkit-box-shadow: 0px 0px 10px #dcd7d7;
    box-shadow: 0px 0px 10px #dcd7d7;
    background-color: #fff;
  }
  .postlistt {
    box-shadow: 1px 1px 10px #a29e9e;
    padding-bottom: 8px;
    background-color: #fff;
    .postmap {
      height: 100%;
    }
    ion-row {
      border-bottom: 1px solid #e8e8e8;
      padding: 6px 0;
    }
  }
  .dtt {
    padding: 0 10px;
  }
  .dtl {
    color: #4c4c4c;
  }
  .ttl {
    padding: 14px 0 6px 4px;
    border-bottom: 1px solid #e8e8e8;
  }
}
