<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content class="sky-background">
  <div padding>
    <div class="logo">
      <img class="aligncenter" src="assets/images/logo.png" />
    </div>
    <div class="loginform">
      <form (ngSubmit)="signup()" [formGroup]="configs" novalidate>
        <ion-list>
          <!-- Error Messages -->
          <div
            class="error"
            *ngIf="
              configs.get('cname').hasError('pattern') &&
              configs.get('cname').touched
            "
          >
            <p>Invalid username. Special characters are not acceptable.</p>
          </div>

          <div
            class="error"
            *ngIf="
              configs.get('name').hasError('required') &&
              configs.get('name').touched
            "
          >
            <p>Your Name Required</p>
          </div>
          <div
            class="error"
            *ngIf="
              configs.get('cname').hasError('required') &&
              configs.get('cname').touched
            "
          >
            <p>User or Company Name Required</p>
          </div>
          <div
            class="error"
            *ngIf="
              configs.get('password').hasError('required') &&
              configs.get('password').touched
            "
          >
            <p>Password Required</p>
          </div>
          <div
            class="error"
            *ngIf="
              configs.get('email').hasError('required') &&
              configs.get('email').touched
            "
          >
            <p>Email Required</p>
          </div>
          <div
            class="error"
            *ngIf="
              configs.get('email').hasError('pattern') &&
              configs.get('email').touched
            "
          >
            <p>There was a problem</p>
            <h6 padding-left no-margin padidng-bottom>
              The email address you entered has an invalid email address format.
              Please correct and try again
            </h6>
          </div>
          <div
            class="error"
            *ngIf="
              configs.get('cpassword').hasError('required') &&
              configs.get('cpassword').touched
            "
          >
            <p>Confirm Password Required</p>
          </div>
          <div class="error" *ngIf="mismatch">
            <p>There was a problem</p>

            <h6 padding-left no-margin padding-bottom>
              The two passwords you entered do not match. Please re-enter and
              try again
            </h6>
          </div>
          <ion-item class="inputfield">
            <i item-start> <ion-icon name="person"></ion-icon> </i>
            <ion-input
              type="text"
              [(ngModel)]="user.name"
              name="name"
              placeholder="Your Name"
              formControlName="name"
              [class.error1]="
                !configs.controls.name.valid && configs.controls.name.dirty
              "
            ></ion-input>
          </ion-item>
          <label class="message-box"
            >Enter a user name how you would like to be identify by other
            members i.e “Luv2Hunt” or “Camper001”</label
          >
          <ion-item class="inputfield">
            <i item-start> <ion-icon name="person"></ion-icon> </i>
            <ion-input
              type="text"
              [(ngModel)]="user.cname"
              name="cname"
              placeholder="User or Company Name"
              formControlName="cname"
              [class.error1]="
                !configs.controls.cname.valid && configs.controls.cname.dirty
              "
            ></ion-input>
          </ion-item>

          <ion-item class="inputfield">
            <i item-start> <ion-icon name="mail"></ion-icon> </i>
            <ion-input
              type="email"
              [(ngModel)]="user.email"
              name="email"
              placeholder="Email"
              formControlName="email"
              [class.error1]="
                !configs.controls.email.valid && configs.controls.email.dirty
              "
            ></ion-input>
          </ion-item>

          <ion-item class="inputfield">
            <i item-start> <ion-icon name="lock"></ion-icon> </i>
            <ion-input
              type="password"
              (ionBlur)="pwdMatchValidator()"
              [(ngModel)]="user.password"
              name="password"
              minlength="6"
              placeholder="Create Password"
              formControlName="password"
              [class.error1]="
                !configs.controls.password.valid &&
                configs.controls.password.dirty
              "
            ></ion-input>
          </ion-item>

          <ion-item class="inputfield">
            <i item-start> <ion-icon name="lock"></ion-icon> </i>
            <ion-input
              type="password"
              [(ngModel)]="user.cpassword"
              name="cpassword"
              (ionBlur)="pwdMatchValidator()"
              minlength="6"
              placeholder="Re-enter Password"
              formControlName="cpassword"
              [class.error1]="
                !configs.controls.cpassword.valid &&
                configs.controls.cpassword.dirty
              "
            ></ion-input>
          </ion-item>
        </ion-list>
        <div class="checkbox">
          <input
            type="checkbox"
            [(ngModel)]="user.conditions"
            formControlName="conditions"
          />I agree to the
          <em>Privacy notice terms &amp; conditions of use</em>
        </div>
        <br /><br />
        <button
          ion-button
          class="submit-button"
          color="darkblue"
          type="submit"
          full
        >
          Create Account
        </button>
      </form>
      <!-- <button
        ion-button
        class="submit-button"
        color="darkblue"
        type="submit"
        full
        (click)="goto()"
      >
        Create Account
      </button> -->
      <div class="newmember"><span>Already have an account?</span></div>
      <button
        type="button"
        ion-button
        full
        class="buttonblock landaccount"
        (click)="enter()"
      >
        Sign In Now
      </button>
    </div>
  </div>
  <bottombar></bottombar>
</ion-content>
