<!--
  Generated template for the AddaddressPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar> <ion-title>Add a new Address</ion-title> </ion-navbar>
</ion-header>

<ion-content>
  <div class="postlists crntlction" text-center>
    <ion-icon name="md-locate"></ion-icon> &nbsp;Use my current location
  </div>
  <p class="note">Tap to auto fill the address field</p>

  <div class="postlists" margin-top text-center>
    <ion-list>
      <ion-row>
        <ion-col no-padding>
          <ion-item>
            <ion-label floating
              >First Name<span color="danger">*</span></ion-label
            >
            <ion-input type="text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col no-padding>
          <ion-item>
            <ion-label floating
              >Last Name<span color="danger">*</span></ion-label
            >
            <ion-input type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-item margin-bottom>
        <ion-label floating>Company Name<span>(optional)</span></ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Country<span color="danger">*</span></ion-label>
        <ion-select>
          <ion-option> India </ion-option><ion-option> USA </ion-option
          ><ion-option> UK </ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </div>

  <div class="postlists" margin-top text-center>
    <h6 color="darkblue" text-left>Steet address</h6>
    <ion-list>
      <ion-item>
        <ion-label floating>House number and street name</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating
          >Apartment, Suite, Unit etc<span>(optional)</span></ion-label
        >
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item margin-bottom>
        <ion-label floating>Town/ City<span color="danger">*</span></ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>State/ Country<span color="danger">*</span></ion-label>
        <ion-select>
          <ion-option> India </ion-option><ion-option> USA </ion-option
          ><ion-option> UK </ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label floating
          >Postcode/ Zip<span color="danger">*</span></ion-label
        >
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Phone<span color="danger">*</span></ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>

      <ion-item margin-bottom>
        <ion-label floating>Email<span color="danger">*</span></ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<ion-footer>
  <button
    ion-button
    full
    round
    color="darkblue"
    (click)="goto('SelectaddressPage')"
  >
    Save / Continue
  </button>
</ion-footer>
