<!--
  Generated template for the TodaysbookingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Today's Bookings</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="todaybooking && todaybooking.length">
    <ion-grid>
      <ion-row>
        <ion-col
          col-12
          col-xl-2
          col-lg-3
          col-md-4
          *ngFor="let upcomin of (todaybooking | uniqueproperty)"
        >
          <ion-card>
            <div>
              <ion-row>
                <ion-col padding
                  ><h5 class="wall" text-center>Property Name</h5>
                  <h4 text-center>{{ upcomin.booking_title }}</h4>
                </ion-col>
              </ion-row>
            </div>

            <button
              ion-button
              (click)="goto(upcomin)"
              color="darkora"
              full
              round
              class="track"
              margin-bottom
            >
              View members on property
            </button>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>
  <div *ngIf="todaybooking && todaybooking.length == 0">
    <p text-center>No Booking</p>
  </div>
</ion-content>
