page-mycart {
  .properties {
    ion-icon {
      font-size: 2.8rem;
    }
    button {
      padding-left: 12px;
    }
  }
  ion-content {
    background-color: #f9fafe !important;
  }
  .bld {
    font-weight: 600;
  }
  .change {
    width: 100%;
    display: table;
    padding: 5px;
    margin-bottom: 16px;
    background-color: color($colors, darkblue) !important;
    box-shadow: 0px 0px 10px #dcd7d7;
    .changebtn {
      background-color: #fff;
      box-shadow: 1px 0px 5px #d8d3d3;
      border-radius: 3px;
      padding: 3px 10px;
      color: color($colors, darkblue);
    }
    .pin {
      color: color($colors, light);
    }
  }
  .promar {
    margin: 0 6px;
  }
  .profile {
    box-shadow: 0px 0px 10px #dcd7d7;
    background-color: #fff;
    .couponbtn {
      border-radius: 50px;
    }
    .carts {
      padding: 10px 0;
      border-bottom: 1px solid #d6d3d3;
      img {
        width: 15px;
        margin-right: 5px;
      }
      ion-row {
        ion-col {
          span {
            color: #8f8f8f;
          }
        }
      }
    }
    .profil {
      div {
        background: #f5f3f4;
        padding: 14px 0;
        strong {
          padding: 0 10px;
        }
      }
    }
    .crt {
      border-bottom: 1px solid #e5e4e5;
      margin-bottom: 16px;
      ion-row {
        ion-col {
          p {
            margin-top: 2px;
            margin-bottom: 2px;
            color: color($colors, darkblue);
            font-size: 1.2rem;
            span {
              color: #a7a4a6;
            }
          }
          .qty {
            // border-radius: 50%;
            background: #f3820b;
          }
          .algn {
            vertical-align: -webkit-baseline-middle;
            padding-left: 8px;
            padding-right: 8px;
          }
        }
      }
      .slot {
        border: 1px solid #f7f7f7;
        padding: 0 6px;
        box-shadow: 1px 0px 1px #f7f7f7;
      }
      .drkclr {
        color: color($colors, darkblue);
      }
    }
  }
  .darkgry {
    font-size: 1.5em;
  }
}
