<!--
  Generated template for the MycartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>My Cart</ion-title>
    <ion-buttons end class="properties">
      <button ion-button color="light" *ngIf="cartdata && cartdata.length">
        <!-- <countdown-timer
          *ngIf="displaytimer && auth.getcarttime()"
          (zeroTrigger)="yourOwnFunction()"
          [end]="endatetime"
        ></countdown-timer> -->
        <countdown
          *ngIf="displaytimer && auth.getcarttime()"
          [config]="{ leftTime: endatetime }"
          (finished)="yourOwnFunction()"
          >$!m!:$!s!mins</countdown
        >
      </button>
      <button ion-button color="light">
        <timer #timer></timer>
      </button> </ion-buttons
  ></ion-navbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="!cartdata || !cartdata.length">
    <p text-center>Your cart is currently empty.</p>
  </ng-container>
  <ng-container *ngIf="cartdata && cartdata.length">
    <div class="profile" margin-top>
      <div
        class="crt"
        *ngFor="let cartdatas of cartdata; let i = index"
        padding-bottom
      >
        <ion-row>
          <ion-col>
            <ion-row>
              <ion-col style="padding: 0 5px 5px 5px;"
                ><h6 no-margin color="dark" class="bld">
                  <span [innerHTML]="cartdatas.property_name"></span>
                </h6>
                <h6 no-margin color="darkblue" class="drkclr bld">
                  <span [innerHTML]="currency_symbol"> </span
                  >{{ cartdatas.price }}
                </h6></ion-col
              >
              <ion-col text-right col-1 no-padding>
                <ion-icon
                  name="md-close-circle"
                  color="darkgry"
                  class="darkgry"
                  (click)="presentAlertConfirm(cartdatas, i)"
                >
                </ion-icon>
              </ion-col>
            </ion-row>
            <div class="slot">
              <ion-row>
                <ion-col no-padding><p>Slot ID:</p></ion-col>
                <ion-col no-padding
                  ><p text-right>
                    <span text-right>{{ cartdatas.slot_name }}</span>
                  </p></ion-col
                >
              </ion-row>
              <!-- <ion-row>
                <ion-col no-padding><p>Property:</p></ion-col>
                <ion-col no-padding
                  ><p text-right>
                    <span text-right>{{Rohit_testing_property}}</span>
                  </p></ion-col
                >
              </ion-row> -->
              <ion-row>
                <ion-col no-padding><p>Reservation Date:</p></ion-col>
                <ion-col no-padding
                  ><p text-right>
                    <span text-right>{{
                      auth.changeformat2(cartdatas.date_of_product)
                        | date: "mediumDate"
                    }}</span>
                  </p></ion-col
                >
              </ion-row>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </div>

    <div class="profile" margin-top>
      <ion-row align-items-end>
        <ion-col>
          <ion-input placeholder="Coupon Code" [(ngModel)]="coupon"></ion-input>
        </ion-col>
        <ion-col>
          <button
            ion-button
            float-right
            color="darkblue"
            class="couponbtn"
            (click)="applycoupon(coupon)"
          >
            Apply Coupon
          </button>
        </ion-col>
      </ion-row>
    </div>
    <div class="profile " margin-top>
      <ng-container *ngIf="coupondata.applied_coupons[0]">
        <ion-row align-items-end class="carts promar">
          <ion-col>
            <img src="assets/images/discount.png" />Coupon:
            {{ coupondata.applied_coupons[0] }}
          </ion-col>
          <ion-col col-5 text-right (click)="removecoupon()">
            <span text-right>
              -${{ coupondata.applied_coupons_price | number: "1.2-2" }}</span
            >
            [Remove]
          </ion-col>
        </ion-row>
      </ng-container>
      <div class="carts promar" *ngIf="subtotal">
        <ion-row>
          <ion-col> <p no-margin>Sub Total</p> </ion-col>
          <ion-col text-right>
            <span text-right
              ><span [innerHTML]="currency_symbol"> </span
              >{{ subtotal | number: "1.2-2" }}</span
            >
          </ion-col>
        </ion-row>
        <ion-row *ngIf="booking">
          <ion-col> <p no-margin>Online Booking Fee</p> </ion-col>
          <ion-col text-right>
            <span text-right
              ><span [innerHTML]="currency_symbol"> </span
              >{{ booking | number: "1.2-2" }}</span
            >
          </ion-col>
        </ion-row>
      </div>
      <ion-row class="promar" *ngIf="carttotal" padding-bottom>
        <ion-col> <p no-margin>Total Amount</p> </ion-col>
        <ion-col text-right>
          <span text-right color="darkblue"
            ><span [innerHTML]="currency_symbol"> </span>{{ carttotal }}</span
          >
        </ion-col>
      </ion-row>
    </div>
    <button
      margin
      style="width: -webkit-fill-available;"
      ion-button
      full
      color="darkblue"
      (click)="
        goto(
          'CheckoutPage',
          cartdata,
          subtotal,
          carttotal,
          booking,
          currency_symbol
        )
      "
      round
    >
      Proceed to Checkout
    </button>
  </ng-container>
  <button
    margin
    style="width: -webkit-fill-available;"
    ion-button
    full
    color="darkora"
    round
    (click)="gotohome('PropertieslistviewPage')"
  >
    Continue Shopping
  </button>
</ion-content>
