<!--
  Generated template for the ForgetpasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content class="sky-background">
  <div>
    <div class="logo">
      <img class="aligncenter" src="assets/images/logo.png" />
      <div class="midcontent">
        <div class="heading">Forget Password</div>
        <div *ngIf="!reset">
          <!--
            <div class="error checkmail success" *ngIf="success">
              <strong padding-left>Check Your Email</strong>
              <p padding-left>
                We sent an email to your inbox. Please enter the email below to
                create a new password.
              </p>
            </div>
          -->
          <div
            class="error"
            *ngIf="
              configs.get('email').hasError('required') &&
              configs.get('email').touched
            "
          >
            <p>Email Required</p>
          </div>
          <div
            class="error"
            *ngIf="
              configs.get('email').hasError('pattern') &&
              configs.get('email').touched
            "
          >
            <p>Incorrect Email</p>
          </div>
          <form action="configs" [formGroup]="configs" novalidate>
            <div class="colgroup">
              <div class="formgroup">
                <input
                  placeholder="Enter email"
                  class="code_recieved"
                  type="email"
                  [(ngModel)]="user.email"
                  name="email"
                  minlength="6"
                  formControlName="email"
                  [class.error1]="
                    !configs.controls.email.valid &&
                    configs.controls.email.dirty
                  "
                />
              </div>
              <!-- <a class="password">Resend Email</a> -->
            </div>
            <button
              type="button"
              color="darkora"
              ion-button
              full
              (click)="submitreset()"
            >
              Continue
            </button>
          </form>
        </div>

        <div *ngIf="reset">
          <div class="error error1 checkmail success">
            <strong>Thank You</strong>
            <p>Your Password has been reset.</p>
          </div>
          <form action="">
            <br /><br />
            <button type="button" class="buttonblock">Enter</button>
          </form>
        </div>

        <button
          type="button"
          ion-button
          margin-top
          full
          color="darkblue"
          (click)="enter()"
        >
          Sign In Now
        </button>
      </div>
    </div>
  </div>
  <bottombar></bottombar>
</ion-content>
