page-forgetpassword {
  .midcontent {
    margin: 0 0 70px;
    padding: 0 15px;

    .error {
      border: 1px solid color($colors, err);
      margin: 0 0 10px;
      border-radius: 3px;
      padding: 0;
      p {
        color: color($colors, err);
        padding: 15px 15px;
        font-size: 16px;
        line-height: 25px;
        margin: 0;
      }
    }
  }
  .heading {
    font-size: 18px;
    color: color($colors, darkerblue);
    padding: 10px 0;
    font-family: "OpenSans-Light";
  }
  .error.checkmail.success {
    background: color($colors, light) none repeat scroll 0 0;
    border: 1px solid color($colors, darkblue);
    border-radius: 3px;
    padding: 10px 0;
    margin: 0 0 10px;
    strong {
      color: color($colors, darkblue);
      display: inline-block;
      font-family: "OpenSans-Bold";
      padding: 10px 15px;
      text-transform: capitalize;
      font-size: 16px;
    }
    p {
      color: color($colors, darkblue);
      font-size: 16px;
      padding: 0 15px 10px;
      margin: 0;
    }
  }
  .error1.checkmail.success {
    background: #8dc641 none repeat scroll 0 0;
    border: 1px solid #8dc641;
    border-radius: 3px;
    padding: 10px 0;
    margin: 0 0 10px;

    strong {
      color: color($colors, light);
      display: inline-block;
      font-family: "OpenSans-Bold";
      padding: 10px 15px;
      text-transform: capitalize;
      font-size: 16px;
    }
    p {
      color: color($colors, light);
      font-size: 16px;
      padding: 0 15px 10px;
      margin: 0;
    }
  }
  .fieldrow {
    margin: 30px 0 100px;
    label {
      color: color($colors, darkerblue);
      display: block;
      font-family: opensans-bold;
      padding: 10px 0;
      font-size: 16px;
    }
  }
  .mesg {
    color: color($colors, darkora);
    font-size: 18px;
    text-align: center;
  }
  button.buttonblock {
    background: color($colors, darkora) none repeat scroll 0 0;
    border-radius: 3px;
    border: none;
    color: color($colors, light);
    display: block;
    font-size: 20px;
    padding: 20px 0;
    cursor: pointer;
    width: 100%;
    font-family: "OpenSans";
  }
  .colgroup {
    background: color($colors, light) none repeat scroll 0 0;
    border: 1px solid color($colors, lightgrey);
    border-radius: 3px;
    margin: 0 0 30px;
    padding: 20px;
    text-align: right;
    width: 100%;
    a {
      color: color($colors, darkblue);
      font-size: 17px;
      text-decoration: none;
    }
  }
  .formgroup {
    margin: 0 0 10px;
    .formgroup input.code_recieved {
      padding: 20px 15px;
    }
    input {
      border: 1px solid color($colors, lightgrey);
      color: #232323;
      font-size: 20px;
      padding: 20px 15px;
      width: 100%;
      border-radius: 3px;
    }
  }
  .emailaddress {
    margin-top: 65px;
    strong {
      color: color($colors, darkerblue);
      font-family: "OpenSans-Bold";
      font-size: 20px;
    }
    p {
      color: color($colors, darkerblue);
      font-size: 20px;
      line-height: 28px;
      margin-top: 15px;
    }
    em {
      color: color($colors, darkora);
      font-style: normal;
    }
  }
}
