<!--
  Generated template for the SignuplandownerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content class="sky-background">
  <div padding>
    <div class="logo">
      <img class="aligncenter" src="assets/images/logo.png" />
    </div>
    <div class="loginform">
      <form (ngSubmit)="signup()" [formGroup]="configs" novalidate>
        <ion-list>
          <!-- Error Messages -->
          <!-- <div
            class="error"
            *ngIf="
              configs.get('cname').hasError('required') &&
              configs.get('cname').touched
            "
          >
            <p>That username is taken. Try another.</p>
          </div> -->
          <div
            class="error"
            *ngIf="
              configs.get('cname').hasError('pattern') &&
              configs.get('cname').touched
            "
          >
            <p>Invalid username. Special characters are not acceptable.</p>
          </div>
          <div
            class="error"
            *ngIf="
              configs.get('fname').hasError('required') &&
              configs.get('fname').touched
            "
          >
            <p>First Name Required</p>
          </div>
          <div
            class="error"
            *ngIf="
              configs.get('lname').hasError('required') &&
              configs.get('lname').touched
            "
          >
            <p>Last Name Required</p>
          </div>
          <div
            class="error"
            *ngIf="
              configs.get('cname').hasError('required') &&
              configs.get('cname').touched
            "
          >
            <p>User or Company Name Required</p>
          </div>
          <div
            class="error"
            *ngIf="
              configs.get('email').hasError('required') &&
              configs.get('email').touched
            "
          >
            <p>Email Required</p>
          </div>
          <div
            class="error"
            *ngIf="
              configs.get('email').hasError('pattern') &&
              configs.get('email').touched
            "
          >
            <p>Incorrect Email</p>
          </div>
          <div
            class="error"
            *ngIf="
              configs.get('password').hasError('required') &&
              configs.get('password').touched
            "
          >
            <p>Password Required</p>
          </div>
          <div
            class="error"
            *ngIf="
              configs.get('cpassword').hasError('required') &&
              configs.get('cpassword').touched
            "
          >
            <p>Confirm Password Required</p>
          </div>
          <!-- Input Fields -->
          <ion-item class="inputfield">
            <i item-start> <ion-icon name="person"></ion-icon> </i>
            <ion-input
              type="text"
              [(ngModel)]="user.fname"
              name="name"
              placeholder="First Name"
              formControlName="fname"
              [class.error1]="
                !configs.controls.fname.valid && configs.controls.fname.dirty
              "
            ></ion-input>
          </ion-item>
          <ion-item class="inputfield">
            <i item-start> <ion-icon name="person"></ion-icon> </i>
            <ion-input
              type="text"
              [(ngModel)]="user.lname"
              name="name"
              placeholder="Last Name"
              formControlName="lname"
              [class.error1]="
                !configs.controls.lname.valid && configs.controls.lname.dirty
              "
            ></ion-input>
          </ion-item>
          <label class="message-box"
            >Enter a name or company that wil be visible to others wanting to
            lease Your property.. i.e. “John Doe” or Dove Blasters LLC”</label
          >
          <ion-item class="inputfield">
            <i item-start> <ion-icon name="person"></ion-icon> </i>
            <ion-input
              type="text"
              [(ngModel)]="user.cname"
              name="cname"
              placeholder="User or Company Name"
              formControlName="cname"
              [class.error1]="
                !configs.controls.cname.valid && configs.controls.cname.dirty
              "
            ></ion-input>
          </ion-item>
          <ion-item class="inputfield">
            <i item-start> <ion-icon name="mail"></ion-icon> </i>
            <ion-input
              type="text"
              [(ngModel)]="user.email"
              name="email"
              minlength="6"
              placeholder="Email"
              formControlName="email"
              [class.error1]="
                !configs.controls.email.valid && configs.controls.email.dirty
              "
            ></ion-input>
          </ion-item>

          <ion-item class="inputfield">
            <i item-start> <ion-icon name="lock"></ion-icon> </i>
            <ion-input
              type="password"
              [(ngModel)]="user.password"
              name="password"
              minlength="6"
              placeholder="Create Password"
              formControlName="password"
              [class.error1]="
                !configs.controls.password.valid &&
                configs.controls.password.dirty
              "
            ></ion-input>
          </ion-item>

          <ion-item class="inputfield">
            <i item-start> <ion-icon name="lock"></ion-icon> </i>
            <ion-input
              type="password"
              [(ngModel)]="user.cpassword"
              name="cpassword"
              minlength="6"
              placeholder="Re-enter Password"
              formControlName="cpassword"
              [class.error1]="
                !configs.controls.cpassword.valid &&
                configs.controls.cpassword.dirty
              "
            ></ion-input>
          </ion-item>
        </ion-list>
        <div class="checkbox">
          <input
            type="checkbox"
            [(ngModel)]="user.term"
            formControlName="term"
          />I agree to the <em>Privacy notice terms &amp; conditions of use</em
          ><br /><br />
          <input
            type="checkbox"
            [(ngModel)]="user.agree"
            formControlName="agree"
          />I agree that I am the legal property owner or the legal agent for
          the property owner.
        </div>
        <br />
        <button
          ion-button
          class="submit-button"
          color="darkblue"
          type="submit"
          full
        >
          Create Account
        </button>
      </form>
      <!-- <button
        ion-button
        class="submit-button"
        color="darkblue"
        type="submit"
        full
        (click)="goto()"
      >
        Create Account
      </button> -->
      <div class="newmember"><span>Already have an account?</span></div>
      <button
        type="button"
        ion-button
        full
        class="buttonblock landaccount"
        (click)="enter()"
      >
        Sign In Now
      </button>
    </div>
  </div>
  <bottombar></bottombar>
</ion-content>
