<!--
  Generated template for the CreatecouponPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title
      ><ng-container *ngIf="!myForm.value.coupon_id"
        >Create New Coupon</ng-container
      ><ng-container *ngIf="myForm.value.coupon_id"
        >Edit Coupon</ng-container
      ></ion-title
    >
  </ion-navbar>
</ion-header>

<ion-content>
  <form [formGroup]="myForm" (ngSubmit)="addcoupon()">
    <div class="addnewproperty postlists" margin-top>
      <ion-list>
        <div
          class="error"
          *ngIf="
            myForm.get('coupon_code').hasError('required') &&
            myForm.get('coupon_code').touched
          "
        >
          <p>Coupon code required</p>
        </div>

        <div
          class="error"
          *ngIf="
            myForm.get('discount_type').hasError('required') &&
            myForm.get('discount_type').touched
          "
        >
          <p>Discount type required</p>
        </div>

        <div
          class="error"
          *ngIf="
            myForm.get('coupon_amount').hasError('required') &&
            myForm.get('coupon_amount').touched
          "
        >
          <p>Coupon amount required</p>
        </div>

        <div
          class="error"
          *ngIf="
            myForm.get('expire_date').hasError('required') &&
            myForm.get('expire_date').touched
          "
        >
          <p>Expiry date required</p>
        </div>

        <div
          class="error"
          *ngIf="
            myForm.get('usage_limit').hasError('required') &&
            myForm.get('usage_limit').touched
          "
        >
          <p>Usage limit required</p>
        </div>
        <ion-item margin-bottom style="display: none">
          <ion-label floating>Coupon id</ion-label>
          <ion-input type="text" formControlName="coupon_id"></ion-input>
        </ion-item>
        <ion-item margin-bottom>
          <ion-label floating>Coupon Code</ion-label>
          <ion-input type="text" formControlName="coupon_code"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Discount Type</ion-label>
          <ion-select placeholder="Select" formControlName="discount_type">
            <ion-option value="percent"> Percentage </ion-option>
            <ion-option value="fixed_product"> Flat </ion-option>
          </ion-select>
        </ion-item>
        <ion-item margin-bottom>
          <ion-label floating>Coupon Amount</ion-label>
          <ion-input type="number" formControlName="coupon_amount"></ion-input>
        </ion-item>
        <ion-item margin-bottom>
          <ion-label floating>Coupon Expiry Date</ion-label>
          <ion-datetime
            formControlName="expire_date"
            displayFormat="DD/MM/YYYY"
            pickerFormat="DD MMMM YYYY"
            [min]="today"
          ></ion-datetime>
        </ion-item>
        <ion-item margin-bottom>
          <ion-label floating>Usage Limit</ion-label>
          <ion-input type="number" formControlName="usage_limit"></ion-input>
        </ion-item>
      </ion-list>
    </div>
    <button ion-button round color="darkblue" full class="submitcon" margin-top>
      Save
    </button>
  </form>
</ion-content>
