page-createcoupon {
  .coupon {
    .couponinner {
      div {
        background: #f5f3f4;
        padding: 14px 0;
        strong {
          padding: 0 10px;
        }
      }
    }
    p {
      margin: 20px 0 5px 0;
    }
    ion-input {
      border: 1px solid #e0dddd;
    }
    ion-select {
      padding: 13px 8px 13px 16px;
      max-width: 100%;
      border: 1px solid #e0dddd;
    }
  }
  ion-content {
    background-color: #f9fafe !important;
  }
  .postlists {
    color: #135c95;
    -webkit-box-shadow: 1px 1px 10px #a29e9e;
    box-shadow: 1px 1px 10px #a29e9e;
    padding: 10px;
    background-color: #fff;
    ion-item {
      border-bottom: none !important;
      padding-left: 4px !important;
      .item-inner {
        border-bottom: 1px solid #dedede !important;
        ion-label {
          span {
            color: color($colors, danger);
          }
        }
      }
    }
    ion-list {
      margin-top: 0 !important;
    }
  }
}
